/* Custom CSS
-------------------------*/

div.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl div.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

img.small-logo {
    float: left;
    height: 35px;
    margin: 3px 10px 3px 0;
}

.dir-rtl img.small-logo {
    float: right;
    margin: 3px 0 3px 10px;
}

@media (max-width: 767px) {
    .dir-rtl img.small-logo,
    img.small-logo {
        margin: 3px;
    }
}

@media (max-width: 480px) {
    .navbar img.small-logo {
        max-width: 150px;
    }
    /* Applying accesshide styles */
    .navbar .small-logo-container + .brand {
        position: absolute;
        left: -10000px;
        font-size: 1em;
        font-weight: normal;
    }
}


/* Custom CSS Settings
-------------------------*/

[[setting:customcss]]
/**
 * glossary
 */

.path-mod-glossary h2 {
    /*font-weight: normal;*/
    margin-bottom: 10px;
}

.path-mod-glossary h2.activity-heading {
    /*font-weight: normal;*/
    margin-bottom: 10px;
    font-size: 33px;
    line-height: 35px;
    color: #003370;
}

.path-mod-glossary #intro {
    display: none;
}

.path-mod-glossary .boxaligncenter {
    margin-left: 0px;
    margin-right: 0px;
    width: 60% !important;
    border-bottom: solid 1px #c8cac9;
}

.path-mod-glossary .boxaligncenter .glossarysearchbox {
    text-align: left;
    position: relative;
}

.path-mod-glossary .boxaligncenter .glossarysearchbox label,
.path-mod-glossary .boxaligncenter .glossarysearchbox input[type=submit] {
    display: none !important;
}

.path-mod-glossary .boxaligncenter .glossarysearchbox input[type=text] {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-transition: none;
    transition: none;
    padding-left: 25px;
    padding-bottom: 0px;
    width: 90%;
}

.path-mod-glossary .glossaryaddentry {
    text-align: right;
}

.path-mod-glossary .glossarydisplay .glossaryexplain {
    text-transform: uppercase;
    color: #003370;
    font-weight: bold;
    font-size: 14px;
}

.path-mod-glossary .glossarydisplay .entrybox div + br,
.path-mod-glossary .glossarydisplay .entrybox a + div {
    display: none;
}

.path-mod-glossary .glossarydisplay .entrybox {
    font-size: 16px;
}

.path-mod-glossary .glossarydisplay .entrybox a,
.path-mod-glossary .glossarydisplay .entrybox b {
    font-size: 16px;
}

.path-mod-glossary .glossarydisplay .entrybox a {
    color: #58595b;
}

.path-mod-glossary .glossarydisplay .entrybox b {
    color: #003370;
}

.path-mod-glossary .glossarydisplay .entrybox hr {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #c8cac9;
}

.path-mod-glossary .glossarypost {
    width: 100%;
}

.path-mod-glossary .glossarypost h4 {
    font-weight: normal;
    font-size: 20px;
    color: #003370;
    font-family: HelveticaNeueUltraLight;
    font-weight: bold;
    letter-spacing: 1px;
}

.path-mod-glossary .glossarypost .no-overflow,
.path-mod-glossary .glossarypost .no-overflow p {
    color: #58595b;
}

.path-mod-glossary .glossarypost {
    border-bottom: solid 1px #c8cac9;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
}

.path-mod-glossary .glossarypost .entry {
    font-weight: normal;
    font-family: HelveticaNeue;
    font-size: 15px;
}

.path-mod-glossary .glossarypost .aliases {
    display: none;
}

.path-mod-glossary .glossarypost .entrylowersection {
    position: absolute;
    display: block;
    width: 350px;
    top: 15px;
    right: 0;
    /*display: none;*/
}

.path-mod-glossary .glossarypost .entrylowersection table {
    position: relative;
}

.path-mod-glossary #fullsearch {
    display: none;
    margin-bottom: 5px;
}

.path-mod-glossary .glossarydisplay .entrybox {
    color: white;
}

.path-mod-glossary .glossarycontrol .printicon {
    display: none;
}

.path-mod-glossary div[role=main] {
    position: relative;
}

.path-mod-glossary .singlebutton.glossaryaddentry {
    position: absolute;
    display: block;
    width: 250px;
    height: 30px;
    top: 62px;
    right: 0;
}

.path-mod-glossary .glossarycategoryheader {
    /*margin-top: 15px;*/
    display: none;
}


/**
 * profile
 */

.path-user .profile_tree .node_category {
    padding: 15px;
    font-family: "Open Sans";
    border: none;
    border-radius: 0px;
    margin: 0px;
    position: relative;
    padding-right: 34px;
}

.path-user .profile_tree .node_category > ul {
    border-bottom: 1px solid #c8cac9;
}

.path-user .profile_tree section.node_category:nth-last-child(n+4):first-child,
.path-user .profile_tree section.node_category:nth-last-child(n+4):first-child + .node_category,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child {
    border-right: 1px dashed #ccc;
    padding-bottom: 5px;
}

.path-user .profile_tree .node_category:first-child + .node_category + .node_category ul {
    border: none;
}

.path-user .profile_tree h3 {
    font-family: "Open Sans";
}

.path-user .node_category:first-child li dl,
.path-user .node_category:last-child li dl {
    border-bottom: 1px solid #c8cac9;
    padding: 5px 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.path-user .node_category:first-child li dt,
.path-user .node_category:last-child li dt {
    color: #58595b;
    display: inline-block;
    font: 14px Open Sans;
    vertical-align: top;
    width: 30%;
}

.path-user .node_category:first-child li dd,
.path-user .node_category:last-child li dd {
    color: #666;
    display: inline-block;
    font: 14px Open Sans;
    width: 60%;
}

.path-user .profile_tree section.node_category:nth-last-child(n+4):first-child + .node_category ul,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category + .node_category + .node_category ul,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category + .node_category ul,
.path-user .profile_tree section.node_category:first-child ul,
.path-user .profile_tree section.node_category:last-child ul {
    border: none;
}

.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category + .node_category + .node_category li:before,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category + .node_category li:before,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category li:before,
.path-user .profile_tree section.node_category:nth-last-child(n+4):first-child + .node_category + .node_category li:before,
.path-user .profile_tree section.node_category:nth-last-child(n+4):first-child + .node_category li:before {
    color: #58595b;
    font-size: 12px;
    font-weight: bold;
    margin-left: -15px;
    position: absolute;
    content: ">";
}

.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category + .node_category + .node_category li,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category + .node_category li,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category li,
.path-user .profile_tree section.node_category:nth-last-child(n+4):first-child + .node_category + .node_category li,
.path-user .profile_tree section.node_category:nth-last-child(n+4):first-child + .node_category li {
    list-style: none !important;
    padding: 0 20px 5px;
    position: relative;
}

.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category li,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category .contentnode {
    padding-left: 0px;
}

.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category li:before,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category .contentnode:before {
    content: '';
}

.path-user .profile_tree .node_category .editprofile {
    display: none;
}

.path-user .profile_tree section.node_category dt,
.path-user .profile_tree section.node_category h3 {
    font-weight: normal;
}

.path-user .userprofile {
    position: relative;
}

.path-user div[role="main"] span + h2 {
    /*    display: none;*/
}

.path-user .userprofile .user-profile-info {
    position: absolute;
    display: block;
    height: 50px;
    width: 150px;
    top: 0;
    left: 100px;
}

.path-user .userprofile .edit-link.btn {
    position: absolute;
    display: block;
    height: 30px;
    width: 100px;
    top: 0;
    right: 0;
}

.path-user .userprofile .user-profile-info .user-fullname {
    color: #3d3d3d;
    font: 19px Open Sans;
    padding-bottom: 5px;
}

.path-user .userprofile .user-profile-info .user-email {
    color: #a8a8a8;
    font: 15px Open Sans;
    padding-bottom: 5px;
}

.path-user .userprofile .description {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 20px;
    margin-top: 20px;
}


/**
 * badges
 */

.path-my .block_sb_badges {
    padding-top: 40px;
    background: none;
    border: none;
    border-radius: 0;
    border-top: 1px solid #c8cac9;
}

.path-my .block_sb_badges .header h2 {
    padding-left: 0;
    color: #003370;
    font: bold 22px HelveticaNeueUltraLight;
    letter-spacing: 1.2px;
}

.path-my .block_sb_badges .badge-name {
    text-transform: uppercase;
    color: #003370;
    font-weight: bold;
    font-size: 8px;
    padding: 0;
}

.path-my .block_sb_badges .content {
    padding-left: 0px;
    padding-right: 0px;
}

.path-my .block_sb_badges .content li {
    text-align: center;
    width: 65px;
    margin-right: 6px;
    padding-top: 0px;
}

.path-my .block_sb_badges li .badge-image {
    border: 1px solid #c8cac9;
    width: 65px;
    height: 65px;
}

.path-my .block_sb_badges .block_action {
    display: none;
}


/* custom popup */

#page-mod-quiz-summary .moodle-dialogue-base .moodle-dialogue {
    width: 350px!important;
    margin-top: -150px!important;
}

#page-mod-quiz-summary .moodle-dialogue-base .moodle-dialogue-hd {
    padding-left: 20px!important;
    padding-right: 20px!important;
    /*height: 0px;
    color: #5d8cbf;*/
}


/* quiz styles */

.quiz-box {
    border: 1px solid #bcbcbd;
    padding: 20px;
}

.quiz-box .quizreviewsummary {
    border-top: 1px solid #bcbcbd;
}

.quiz-box .quizreviewsummary th.cell {
    min-width: 200px;
    padding: 7px 80px 7px 0 !important;
    color: #003370;
    border: 0 !important;
    background-color: #eeefef;
    text-transform: capitalize;
}

.quiz-box .quizreviewsummary td.cell {
    padding: 7px !important;
    font: 14px HelveticaNeue;
    border: 0 !important;
    background-color: #eeefef;
}

.quiz-box .quizreviewsummary tr:nth-child(2n) th.cell,
.quiz-box .quizreviewsummary tr:nth-child(2n) td.cell {
    background-color: #f7f8f8;
}

.quiz-box .quizreviewsummary td b {
    font-weight: normal;
}

h3.quiz-page-title {
    font: bold 18px Helvetica;
    margin-bottom: 15px;
    margin-top: -5px;
}

.mod_quiz-review-btn {
    display: inline-block;
    padding: 5px 25px;
    background-color: #c1d82f;
    background-image: none;
    color: #003370;
    border-radius: 0;
    text-transform: uppercase;
    font: 600 10px/16px HelveticaNeue;
    letter-spacing: 1px;
    text-shadow: none;
}

.mod_quiz-review-btn:hover {
    color: #fff;
}

.finish-review-wrapper {
    margin-bottom: 20px;
    text-align: right;
}

.path-mod-quiz .que,
.path-question .que {
    border-top: 1px solid #bcbcbd;
    margin: 0 auto;
    padding: 30px 0 20px;
}

.path-mod-quiz .que:first-child,
.path-question .que:first-child {
    border-top: 0;
}

.path-mod-quiz .que .formulation,
.path-question .que .formulation {
    padding: 0 35px 0 14px;
    background-color: #fff;
    border: 0;
    font: 14px/19px HelveticaNeue;
    color: #58595b;
}

.path-mod-quiz .que .qtext,
.path-question .que .qtext {
    margin-bottom: 5px;
}

.path-mod-quiz .que .ablock .prompt,
.path-question .que .ablock .prompt {
    font-style: italic;
}

.path-mod-quiz .que .ablock .answer label,
.path-question .que .ablock .answer label {
    font: 14px/21px HelveticaNeue;
    padding: 3px 0px;
}

.path-mod-quiz .que .info,
.path-question .que .info {
    background-color: #fff;
    border: 0 none;
    border-radius: 0;
    padding: 0.1em 0;
}

.path-mod-quiz .que.multichoice .answer div.r0 input,
.path-question .que.multichoice .answer div.r0 input,
.path-mod-quiz .que.multichoice .answer div.r1 input,
.path-question .que.multichoice .answer div.r1 input {
    margin: -2px 5px 0;
}

.path-mod-quiz .que.multichoice .answer div.r0,
.path-mod-quiz .que.multichoice .answer div.r1,
.path-question .que.multichoice .answer div.r0,
.path-question .que.multichoice .answer div.r1 {
    padding: 0.2em 0 0.2em 25px;
}

.path-mod-quiz .que .questioncorrectnessicon,
.path-question .que .questioncorrectnessicon {
    width: 12px;
    height: 12px;
}

.path-mod-quiz .multichoice .formulation .correct,
.path-question .multichoice .formulation .correct {
    background-color: transparent;
}

.path-mod-quiz .multichoice .formulation .correct label,
.path-question .multichoice .formulation .correct label {
    background-color: #e0ec97;
}

.path-mod-quiz .formulation .incorrect,
.path-question .formulation .incorrect {
    background-color: transparent;
}

.path-mod-quiz .formulation .partiallycorrect,
.path-question .formulation .partiallycorrect {
    background-color: transparent;
}

.path-mod-quiz .que.multichoice .answer .specificfeedback .path-question .que.multichoice .answer .specificfeedback {
    background-color: none;
}

.path-mod-quiz .que h3.no,
.path-question .que h3.no {
    font: 600 14px HelveticaNeue;
}

.path-mod-quiz .que span.qno,
.path-question .que span.qno {
    font: 600 14px HelveticaNeue;
}

.path-mod-quiz .que .info .questionflag,
.path-question .que .info .questionflag {
    margin-top: 10px;
}

.path-mod-quiz .que .info .question-idnumber,
.path-question .que .info .question-idnumber {
    color: #bcbcbd;
    font: 13px HelveticaNeue;
    margin: 2px 0 0;
}

.path-mod-quiz .que .info .state,
.path-question .que .info .state,
.path-mod-quiz .que .info .grade,
.path-question .que .info .grade {
    display: none;
}

.path-mod-quiz .que input.questionflagimage,
.path-question .que input.questionflagimage {
    display: inline-block;
    height: 22px;
    padding-right: 3px;
    position: absolute;
    width: 22px;
}

.path-mod-quiz .que .info .questionflag img,
.path-question .que .info .questionflag img {
    height: 22px;
    width: 22px;
}

.path-mod-quiz .que .questionflagtext,
.path-question .que .questionflagtext {
    display: block;
    font: 12px/13px HelveticaNeue;
    padding-left: 24px;
    text-transform: capitalize;
    width: 70px;
}

.path-mod-quiz .quizinfo {
    display: none;
}

.path-mod-quiz h2.activity-heading,
.path-mod-question h2.activity-heading {
    margin-top: 10px;
    margin-bottom: 10px;
}

.quiz-summary-page {
    border: 1px solid #bcbcbd;
    padding: 0 20px;
}

.quiz-summary-page h3.activity-heading {
    font: bold 18px Helvetica;
    color: #003370;
    padding: 15px 0;
    border-bottom: 1px solid #bcbcbd;
}

.quiz-summary-attention {
    padding: 5px 0 20px;
}

.quiz-summary-attention .quiz-attention-icon {
    height: 14px;
    margin-right: 7px;
    width: 14px;
}

.summary-box-control {
    text-align: right;
}

#page-mod-quiz-summary .summary-box-control .submitbtns {
    display: inline-block;
    margin-top: 10px;
    margin-left: 40px;
}

#page-mod-quiz-summary .summary-box-control .submitbtns.back-button input {
    color: #003370;
    background: #ffd200;
    border: 1px solid #ffd200;
    transition: none;
    -webkit-transition: none;
}

#page-mod-quiz-summary .summary-box-control .submitbtns.back-button input:hover {
    color: #fff;
}

#page-mod-quiz-summary .summary-box-control .submitbtns.submit-button input {
    color: #003370;
}

#page-mod-quiz-summary .summary-box-control .submitbtns.submit-button input:hover {
    color: #fff;
}

.summary-box-control .singlebutton div {
    margin: 0;
}

.path-mod-quiz .quizsummaryofattempt th.header,
.path-mod-quiz .quizsummaryofattempt td .quiz-number {
    color: #003370;
    font: 600 12px HelveticaNeue;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.path-mod-quiz .quizsummaryofattempt td {
    font: 14px HelveticaNeue;
}

.path-mod-quiz .quizsummaryofattempt td .quiz-number {
    color: #003370;
    font: 600 13px HelveticaNeue;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.path-mod-quiz .quizsummaryofattempt td {
    padding: 15px;
    border-top: 0;
    background-color: #eeefef !important;
    text-transform: capitalize;
}

.path-mod-quiz .quizsummaryofattempt tr:nth-child(2n) td {
    background-color: #f7f8f8 !important;
}

.path-mod-quiz .quizsummaryofattempt .lastcol {
    width: 50%;
}

#page-mod-quiz-summary .quizsummaryofattempt .questionflag {
    position: absolute;
    margin-left: -30px;
}

.path-mod-quiz .quizsummaryofattempt a {
    color: #003370;
    font: 600 13px HelveticaNeue;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.path-mod-quiz .quizsummaryofattempt .notyetanswered td {
    font-weight: 600;
    color: #72ccd2;
}

#page-mod-quiz-view h3.activity-heading {
    font: bold 18px Helvetica;
    color: #003370;
    border-bottom: 1px solid #bcbcbd;
    border-top: 1px solid #bcbcbd;
    padding: 15px 0;
}

#page-mod-quiz-report #page-content table#attempts .questionflag {
    height: 16px;
    margin-right: 30px;
    padding-left: 0;
    vertical-align: text-bottom;
    width: 16px;
}

.pagelayout-report #page-content .no-overflow {
    overflow: auto;
}

#page-content .quiz-attempt-buttons input[type="submit"] {
    min-width: 100px;
    margin-bottom: 0;
}

.quiz-attempt-buttons .mod_quiz-navigation-links {
    display: inline-block;
    padding: 0px 17px 0 22px;
    font: 14px/30px HelveticaNeue;
    color: #58595b;
}

.quiz-attempt-buttons .mod_quiz-navigation-links span {
    padding: 0 2px;
    cursor: pointer;
}

.quiz-attempt-buttons .mod_quiz-navigation-links span:hover {
    color: #333;
}

.quiz-attempt-buttons .mod_quiz-navigation-links span.first,
.quiz-attempt-buttons .mod_quiz-navigation-links span.last {
    cursor: default;
}

.quiz-attempt-buttons .mod_quiz-navigation-links span.current {
    font-weight: 600;
    cursor: default;
}

.quiz-attempt-buttons .mod_quiz-navigation-links span.first,
.quiz-attempt-buttons .mod_quiz-navigation-links span.last,
.quiz-attempt-buttons .mod_quiz-navigation-links span.current {
    color: #58595b;
}

#page-content .que .formulation,
#page-content .que .outcome,
#page-content .que .comment,
#page-content .que .history {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

#page-content .que .grading,
#page-content .que .comment,
#page-content .que .commentlink,
#page-content .que .history {
    margin-top: 0;
}

#page-content .que .history {
    background-color: transparent;
    box-shadow: none;
}

.history h4.responsehistoryheader {
    border-bottom: 1px solid #e7e7e7;
    color: #003370;
    font: 600 16px HelveticaNeue;
    margin-top: 0;
    padding-bottom: 10px;
}

.history .responsehistoryheader tr th {
    color: #003370;
    font: 600 12px HelveticaNeue;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 0;
}

.history .responsehistoryheader tr td {
    font: 14px HelveticaNeue;
    background-color: #eeefef;
    border: 0;
}

.history .responsehistoryheader tr:nth-child(2n) td {
    background-color: #f7f8f8;
}

.qfeedbacb-box {
    font: italic 600 13px/16px HelveticaNeue;
    letter-spacing: 1px;
}

.correct .qfeedbacb-box {
    color: #6f9b02;
}

.incorrect .qfeedbacb-box {
    color: #980d22;
}

.partiallycorrect .qfeedbacb-box {
    color: #aaa;
}

.qfeedbacb-box .feedback-image {
    display: inline-block;
    margin-left: 27px;
    padding: 0;
    position: relative;
    width: 12px;
    height: 12px;
    margin-top: 5px;
}

.qfeedbacb-box .feedback-image img {
    display: block;
    height: 12px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 12px;
}

.qfeedbacb-box .specificfeedback {
    background: none;
}

#page-content .que.multichoice .answer .specificfeedback {
    background: none;
}

#page-content .que .specificfeedback,
#page-content .que .generalfeedback,
#page-content .que .rightanswer,
#page-content .que .im-feedback,
#page-content .que .feedback {
    margin-bottom: 0;
}

#page-mod-quiz-attempt .submitbtns .mod_quiz-next-nav,
#page-mod-quiz-review .submitbtns .mod_quiz-next-nav {
    float: none !important;
}

#page-mod-quiz-attempt #page-content .submitbtns,
#page-mod-quiz-review #page-content .submitbtns {
    text-align: right;
}

#page-content input.mod_quiz-next-nav.quiz-submit-btn[type="submit"] {
    background-color: #c1d82f;
    border-color: #c1d82f;
    background-image: none;
    color: #003370;
    border-radius: 0;
    text-transform: uppercase;
    font: 600 10px/16px HelveticaNeue;
    letter-spacing: 1px;
    text-shadow: none;
    min-width: 150px;
    margin-right: 0px !important;
}

#page-content .quiz-attempt-buttons input.mod_quiz-next-nav[type="submit"] {
    margin-right: 50px;
}

#page-content input.mod_quiz-next-nav.quiz-submit-btn[type="submit"]:hover {
    color: #fff;
    background-color: #c1d82f;
    border-color: #c1d82f;
    background-image: none;
}

#page-mod-quiz-view .quizattemptsummary.generaltable {
    margin-bottom: 0;
}

#page-mod-quiz-view .quizattemptsummary th.header,
#page-mod-quiz-view .quizattemptsummary td .attempt-number {
    color: #003370;
    font: 600 12px HelveticaNeue;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#page-mod-quiz-view .quizattemptsummary td {
    font: 14px HelveticaNeue;
}

#page-mod-quiz-view .quizattemptsummary td .attempt-number {
    color: #003370;
    font: 600 13px HelveticaNeue;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#page-mod-quiz-view .quizattemptsummary td .grade-result {
    font: 600 13px HelveticaNeue;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#page-mod-quiz-view .quizattemptsummary td {
    padding: 15px;
    border-top: 0;
    background-color: #eeefef;
}

#page-mod-quiz-view .quizattemptsummary tr:nth-child(2n) td {
    background-color: #f7f8f8;
}

#page-mod-quiz-view .quizattemptsummary .btn-a {
    display: inline-block;
}

#page-mod-quiz-view .quizattemptsummary .btn-a a {
    color: #58595b;
    font: 600 10px HelveticaNeue;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #58595b;
    padding: 5px 30px;
}

#page-mod-quiz-view .quizattemptsummary .btn-a a:hover {
    color: #003370;
}

.quiz-attempt-page {
    border: 1px solid #bcbcbd;
    padding: 0 20px 0 180px;
    position: relative;
}

.quiz-attempt-page .flagged-box {
    left: 0;
    padding: 32px 15px 15px;
    position: absolute;
    width: 150px;
}

.flagged-box .flagged-box-header {
    color: #980d22;
    font: bold 11px HelveticaNeue;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
}

.flagged-box .qn_buttons {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.flagged-box .qn_buttons li {
    font: 14px/21px HelveticaNeue;
    color: #58595b;
}

.flagged-box .qn_buttons li a {
    color: #58595b;
}

.flagged-box .qn_buttons li a:hover {
    color: #333;
}

.flagged-box .qn_buttons li.noq {
    font: 13px/17px HelveticaNeue;
}

.quiz-attempt-form {
    border-left: 1px solid #bcbcbd;
    padding-left: 30px;
}

.path-mod-quiz .quiz-attempt-page .que:first-child,
.path-question .quiz-attempt-page .que:first-child {
    border-top: 0 !important;
}

#quiz-timer {
    color: #003370;
    font: 13px HelveticaNeue;
    text-transform: uppercase;
}

#quiz-timer span {
    display: block;
    font: bold 19px HelveticaNeue;
}

.moodle-dialogue-base .moodle-dialogue-hd.yui3-widget-hd,
.moodle-dialogue-base .moodle-dialogue-bd.yui3-widget-bd,
.moodle-dialogue-base .moodle-dialogue-ft.yui3-widget-ft {
    border: none;
    border-radius: 0;
    background: #5d8cbf;
    color: white;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.moodle-dialogue-hd {
    padding-left: 20px;
    padding-right: 20px;
}

.moodle-dialogue-base .moodle-dialogue-bd.yui3-widget-bd {
    padding-top: 0px;
}

.moodle-dialogue-base .moodle-dialogue-hd.yui3-widget-hd {
    text-shadow: none;
}

.moodle-dialogue-base .moodle-dialogue-hd.yui3-widget-hd h1 {
    text-align: left;
    font-size: 24px;
    color: white;
    padding-top: 15px;
    display: block;
}

.moodle-dialogue-base .moodle-dialogue-wrap {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.moodle-dialogue-base .moodle-dialogue {}

.moodle-dialogue-base .confirmation-message {
    text-align: left;
    display: block;
    margin: 0px;
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
}

.moodle-dialogue-base .confirmation-buttons {
    margin-bottom: 10px;
    margin-top: 12px;
    display: block;
    height: 25px;
}

.jschooser .choosercontainer #chooseform .instruction,
.jschooser .choosercontainer #chooseform .typesummary {
    color: #777;
    font: 13px/19px HelveticaNeue;
}

.choosercontainer #chooseform .selected {
    color: #003370;
}

body .chooserdialogue-course-modchooser.moodle-dialogue {
    margin-top: -150px;
}

body .chooserdialogue-mod_quiz-questionchooser.moodle-dialogue,
body .mod_quiz_preflight_popup.moodle-dialogue {
    margin-top: -150px;
}

body .moodle-dialogue-base input.btn-cancel[type="submit"] {
    padding: 5px;
}

.moodle-dialogue-base .confirmation-buttons input {
    border-radius: 0px;
    color: #003370;
    background: #ffd200;
    border: 1px solid #ffd200;
    font: 600 10px/16px HelveticaNeue;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    min-width: 135px;
    padding: 4px 15px 3px !important;
    transition: none;
    -webkit-transition: none;
    margin: 0px;
}

.moodle-dialogue-base .confirmation-buttons input:first-of-type {
    float: right;
    color: white;
    background: #c1d82f;
    border: 1px solid #c1d82f;
}

.moodle-dialogue-base .confirmation-buttons input:last-of-type {
    float: left;
}


/* Quiz Completion */


/*#page-mod-quiz-view .box.generalbox,
#page-mod-quiz-view .box.quizinfo,
#page-mod-quiz-view #feedback,
#page-mod-quiz-view .course-content-footer-inner {
    display: none;
}*/

h2.activity-heading {
    color: #5d8cbf;
    font: bold 22px/26px HelveticaNeueUltraLight, sans-serif;
    margin: 10px 0 20px;
    padding: 0;
}

h3.activity-heading {
    color: #5d8cbf;
    font: bold 26px/28px HelveticaNeueUltraLight, sans-serif;
    margin: 0 0 30px;
    margin-bottom: 10px;
}

#page-mod-quiz-view #region-main div[role="main"],
#page-mod-quiz-view #region-main {
    position: relative;
}

#page-mod-quiz-view .singlebutton.quizstartbuttondiv input[type="submit"] {
    border-radius: 0px;
    color: #003370;
    background: #ffd200;
    border: 1px solid #ffd200;
    font: 600 10px/16px HelveticaNeue;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    padding: 5px 15px 4px !important;
    transition: none;
    -webkit-transition: none;
    margin: 0px;
    position: absolute;
    left: 0px;
    bottom: -25px;
}

#page-mod-quiz-view .singlebutton.quizstartbuttondiv input[type="submit"]:hover {
    color: #fff;
}


/*#page-mod-quiz-view .attempts {
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica";
    font-weight: normal;

    list-style-type: none;
}

#page-mod-quiz-view .attempts li {
    margin-bottom: 10px;
}

#page-mod-quiz-view .attempts .attempt-item {
    background-color: #c1d82f;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 0px;
    padding: 17px;
    letter-spacing: 0.7px;
    font-size: 19px;
    cursor: pointer;
}

#page-mod-quiz-view .attempts .attempt-item span {
    display: inline-block;
}

#page-mod-quiz-view .attempts .attempt-item span.col-title {
    width: 25%;
    text-align: left;
}

#page-mod-quiz-view .attempts .attempt-item span.col-status,
#page-mod-quiz-view .attempts .attempt-item span.col-grade {
    text-align: center;
}

#page-mod-quiz-view .attempts .attempt-item span.col-status {
    width: calc(50% - 20px);
}

#page-mod-quiz-view .attempts .attempt-item span.col-grade {
    width: 20%
}

#page-mod-quiz-view .attempts .attempt-item span.col-action {
    width: 20px;
    display: inline-block;
}

#page-mod-quiz-view .attempts li > .info {
    display: none;
}

#page-mod-quiz-view .attempts li.active > .info {
    display: block;
    background-color: #ecf1c2;

    padding: 10px 15px;
}

#page-mod-quiz-view .info .summary {
    background-color: #f4f8db;
}*/


/**** Menu (Settings) font: 14px/21px HelveticaNeue; font: 13px Open Sans; ****/

.left-sidebar .block_navigation.block li {
    color: #fff;
    font: 14px/21px HelveticaNeue;
}

.left-sidebar .block_navigation.block li:focus {
    outline: none;
}

.side-pre-box .block_tree .tree_item.branch:before {
    padding-right: 5px;
}

.block_navigation .block_tree [aria-expanded="false"],
.block_navigation .block_tree [aria-expanded="true"],
.block_settings .block_tree [aria-expanded="true"],
.block_settings .block_tree [aria-expanded="false"] {
    background-image: none;
}

.block_navigation .block_tree [aria-expanded="false"]:before,
.block_settings .block_tree [aria-expanded="false"]:before {
    content: "\f101";
    font-family: FontAwesome;
}

.block_navigation .block_tree [aria-expanded="true"]:before,
.block_settings .block_tree [aria-expanded="true"]:before {
    content: "\f103";
    font-family: FontAwesome;
}


/**** Form elements and buttons ****/

#page-content input[type="submit"] {
    display: inline-block;
    padding: 4px 5px;
    min-width: 150px;
    background-color: #c1d82f;
    background-image: none;
    color: #fff;
    border: 1px solid #c1d82f;
    border-radius: 0;
    text-transform: uppercase;
    font: 600 10px/16px HelveticaNeue;
    letter-spacing: 1px;
    text-shadow: none;
}

#page-content input[type="submit"]:hover {
    background-color: rgba(193, 216, 47, 0.8);
}

#page-content input[type="submit"].mod_quiz-prev-nav,
#page-content input[type="submit"].mod_quiz-next-nav {
    color: #003370;
    background-color: #ffd200;
    border: 1px solid #ffd200;
}

#page-content input[type="submit"].mod_quiz-prev-nav:hover,
#page-content input[type="submit"].mod_quiz-next-nav:hover {
    background-color: rgba(250, 210, 0, 0.8);
}

#page-content input[type="submit"].btn-cancel {
    background-color: #fff;
    color: #980d22;
    border: solid 1px #980d22;
}

#scormviewform input[type="submit"] {
    margin-top: 5px;
}

.path-user .userprofile .edit-link.btn {
    width: auto;
    min-width: 100px;
    background-color: #c1d82f;
    background-image: none;
    color: #fff;
    border: 1px solid #c1d82f;
}

.path-user .userprofile .edit-link.btn:hover {
    background-color: rgba(193, 216, 47, 0.8);
}

input[type="radio"]+label {
    margin-right: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-top: -2px;
    margin-right: 3px;
}


/**** Modal (popup) window ****/

.moodle-dialogue-base .moodle-dialogue-wrap {
    background-color: #5d8cbf;
    border-radius: 0;
}

.moodle-dialogue-base .moodle-dialogue {
    min-width: 285px;
}

.moodle-dialogue-base .moodle-dialogue legend {
    color: #fff;
}

.moodle-dialogue-base .moodle-dialogue.mod_quiz_preflight_popup .moodle-dialogue-bd legend {
    color: #fff;
}

.moodle-dialogue-base .moodle-dialogue.mod_quiz_preflight_popup .moodle-dialogue-bd .fitem .felement {
    color: #fff;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd {
    text-shadow: none;
    border-radius: 0;
    border-bottom: none;
    background: none;
    color: #fff;
}

.moodle-dialogue-base input[type="submit"],
.moodle-dialogue-base input[type="submit"]#id_submitbutton {
    display: inline-block;
    padding: 4px 5px;
    min-width: 150px;
    background-color: rgba(250, 210, 0, 1);
    background-image: none;
    border: 1px solid #ffd200;
    color: #003370;
    border-radius: 0;
    text-transform: uppercase;
    font: 600 10px/16px HelveticaNeue;
    letter-spacing: 1px;
    text-shadow: none;
}

.moodle-dialogue-base input[type="submit"].btn-cancel {
    background-color: #fff;
    color: #980d22;
    border: none;
}

.moodle-dialogue-base input[type="submit"]:hover {
    background-color: rgba(250, 210, 0, 0.8);
}

.moodle-dialogue-base #fgroup_id_buttonar {
    background-color: inherit;
    border-top: none;
}


/**** #page-mod-quiz-view table ****/

#page-mod-quiz-view .attempts table th,
#page-mod-quiz-view .attempts table td {
    color: #003370;
    width: 25%;
}

#page-mod-quiz-view .attempts .summary table th,
#page-mod-quiz-view .attempts .summary table td {
    width: auto;
}

#page-mod-quiz-view .attempts table th {
    text-transform: uppercase;
    border-bottom: 1px solid #003370;
}

#page-mod-quiz-view .attempts .summary table th {
    border-bottom: 1px solid #fff;
}

#page-mod-quiz-view .attempts .summary .generaltable tbody tr td {
    color: #003370;
}

#page-mod-quiz-view .attempts .generaltable tbody tr td,
#page-mod-quiz-view .attempts .generaltable tbody tr:hover td {
    color: #58595b;
    border-bottom: 2px solid #fff;
    background-color: #ecf1c2;
}

#page-mod-quiz-view .attempts .generaltable tbody tr:last-child td {
    border-bottom: 0;
}

#page-mod-quiz-view .attempts .generaltable tbody>tr:nth-child(odd)>td {
    background-color: #ecf1c2;
}

#page-mod-quiz-view .attempts .summary .generaltable tbody>tr:nth-child(odd)>td {
    background-color: #f9f9f9;
}

#page-mod-quiz-view .attempts tbody tr td .answer {
    margin-bottom: 15px;
}

#page-mod-quiz-view .attempts tbody tr td .answer p {
    display: inline-block;
    margin-bottom: 0;
}

#page-mod-quiz-view .moodle-dialogue-base.moodle-dialogue-confirm .moodle-dialogue {
    width: 300px !important;
}

#page-mod-quiz-view .moodle-dialogue-base.moodle-dialogue-confirm form {
    padding: 0 15px 15px 15px;
}

#page-mod-quiz-view .moodle-dialogue-base.moodle-dialogue-confirm .moodle-dialogue .felement.fgroup {
    margin-left: 0;
}

#page-mod-quiz-view .moodle-dialogue-base input[type="submit"],
#page-mod-quiz-view .moodle-dialogue-base input[type="submit"]#id_submitbutton {
    min-width: 120px;
    min-height: 27px;
}

.moodle-dialogue-base input[type="submit"].btn-cancel {
    background-color: #fff;
    color: #980d22;
    border: none;
    float: left;
}

.block_course_catalog .coursebox .coursename a {
    margin-bottom: 16px;
    height: auto;
}


/* header */

.header-notifications-menu ul li {
    position: relative;
}

.header-notifications-menu .alert {
    font-size: 10px;
    padding: 1px;
    border-radius: 9px;
    display: inline-block;
    width: 15px;
    height: 16px;
    line-height: initial;
    text-align: center;
    font-weight: bold;
    position: absolute;
    left: 77px;
    top: 0px;
}

.header-notifications-menu .alert.messages {
    left: 110px;
}

.header-notifications-menu .alert.notification {
    /*left: 80px;*/
}

.header-notifications-menu ul li .alerts {
    display: none;
    height: auto;
    position: absolute;
    top: 20px;
    left: -2px;
    padding-top: 9px;
}

.header-notifications-menu ul li .alerts li {
    width: calc(100% * 2);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    color: #777;
}

.header-notifications-menu ul li .alerts li:last-child {
    border-bottom: none!important;
}

.header-notifications-menu ul li.active .alerts,
.header-notifications-menu ul li:hover .alerts {
    display: block;
}

.header-notifications-menu ul li.active .alerts p,
.header-notifications-menu ul li:hover .alerts p {
    margin: 0px;
}

.header-notifications-menu ul li .alerts li .title {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 0px;
    cursor: pointer;
}

.header-notifications-menu ul li .alerts li .body {
    padding-top: 0px;
    font-size: 10px;
    font-weight: normal;
    color: #bbb;
    padding-bottom: 5px;
    border-bottom: 1px dashed #bbb;
    margin-bottom: 5px;
}

.header-notifications-menu ul li .alerts li .title .text-danger {
    /*color: black;*/
    font-weight: bold;
}

.path-course-view .activity {
    position: relative;
}

.gradebook ul {
    list-style-type: none;
    list-style: none;
}

#page-mod-quiz-review .side-inner .block.block_fake,
#page-mod-quiz-attempt .side-inner .block.block_fake {
    border: none;
    margin: 0px;
    padding: 0px;
}

#page-mod-quiz-attempt #mod_quiz_navblock h3,
#page-mod-quiz-review #mod_quiz_navblock h3 {
    padding: 0px;
    display: none;
}

#page-mod-quiz-summary .course-content-footer-inner .status-btn.btn.btn-success {
    display: none;
}

.activity-box .availabilityinfo {
    overflow: hidden;
}

.course-content .sections-menu a {
    text-transform: uppercase;
}

#page-course-view-institutes_ceu.editing .course-content .section-level-3 ul.section .activity .mod-indent-outer {
    width: calc(100% - 20px)!important;
}

.path-site li.activity > div,
.path-course-view li.activity > div {
    position: initial;
}

.path-course-view .activity span.btn.btn-info {
    background-color: inherit;
    color: #72ccd2;
}

.path-course-view .activity span.btn.btn-success {
    background-color: inherit;
    color: #c1d82f;
}

.course-content .embed iframe {
    width: 100%;
}

.course-content .course-level-0 ul.institutes_ceu li.section h4 .title {
    font: 600 26px/30px HelveticaNeueUltraLight;
    letter-spacing: 0px;
}


/* update section menu */

.fa-play:before {
    content: "\f067"!important;
}

.course-content-header .section-menu .menu-item.open .section-menu-toggler {
    transform: none;
}

.course-content-header .section-menu .menu-item.open .fa-play:before {
    content: "\f068"!important;
}

.course-content-header .section-menu .menu-item .section-menu-toggler {
    color: #003370;
}

.course-content-header .section-menu .menu-item.completed .section-menu-toggler {
    color: #7f99b7;
}

.course-content-header .section-menu .menu-item.active > a,
.course-content-header .section-menu .menu-item.active .section-menu-toggler,
.course-content-header .section-menu .menu-item.completed.active .section-menu-toggler {
    color: white;
}

.course-content-header .section-menu .menu-item:before {
    content: ""!important;
}

.course-content-header .section-menu .section-modules {
    margin-left: -10px!important;
    top: 32px!important;
    padding: 5px 0px 5px 0px!important;
}

.course-content-header .section-menu-div {
    position: relative;
    background-color: #e7f0f8;
    margin: 20px 0 25px;
    padding: 15px 10px 0px 10px;
}

.course-content-header .section-menu-div hr {
    margin: 10px 0px 0px 0px;
    border-top: none;
    border-bottom: 1px solid #003370;
}

.course-content-header .section-menu-div p {
    margin: 0px;
    padding: 0px 15px 0px 15px;
    position: absolute;
    left: 50px;
    top: 15px;
    text-transform: uppercase;
    font-weight: normal;
    color: #003370;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    background-color: #e7f0f8;
}

.course-content .sectionname {
    color: #5d8cbf;
    font: bold 26px/28px HelveticaNeueUltraLight, sans-serif;
}

.course-content .content {
    padding-top: 15px;
}

.course-content .section-level-3 span.hidden.sectionname {
    display: block;
    visibility: visible;
}

.glossarydisplay .entrybox hr,
.glossarydisplay .entrybox .paging br {
    display: none;
}

.glossarydisplay .entrybox .paging > div {
    text-align: right!important;
}

.path-mod-glossary .paging {
    padding-top: 15px;
}

.course-content .course-level-3 .section-navigation.mdl-bottom .btn {}

.course-content .course-level-3 .section-navigation.mdl-bottom .btn {
    padding: 0px!important;
}

.course-content .course-level-3 .section-navigation.mdl-bottom .btn a {
    display: block!important;
    padding: 4px 15px 3px!important;
}

#page-mod-resource-view .box.mod_introbox {
    padding: 0px!important;
}

#page-mod-resource-view div[role="main"] {
    padding-bottom: 15px;
}

.path-mod-lti {
    overflow-y: auto;
}

.path-mod-lti.layout-option-nocoursefooter .course-content-footer {
    display: block!important;
}

.path-mod-scorm .course-content-footer .course-content-footer-inner .status-btn {
    display: none!important;
}

.path-mod-scorm .course-content-footer .course-content-footer-inner {
    border-top: none!important;
    padding-top: 10px!important;
}

.pagelayout-popup #page.container-fluid {
    padding: 0 15px;
}
