.segment-sections-box li.segment-sections-item .segment-sections-link a,
.course-content li.section.section-level-1 ul.inner-sections .segment-sections-box li.segment-sections-item .segment-sections-link a {
  line-height: 18px !important;
  margin-bottom: 8px !important;
}
.course-content li.section.section-level-1 ul.inner-sections .segment-sections-box li.segment-sections-item,
.segment-sections-box li.segment-sections-item {
  margin-bottom:20px;
}
#page-course-format-institutes-resources .hidden.sectionname {
  display: none;
  opacity: 0;
}

header .container-fluid.header-search-panel .search-input-wrapper {
    margin-left: 0px;
    margin-right: 0px;
}

header .header-search-panel .search-input-wrapper > form > input {
    width: 100%;
}

header .small-logo-box-mobile,
header .mobile-nav,
header .header_course_name {
    display: none;
}

header .small-logo-box .course-name-box {
    margin-left: 55px;
}

header .small-logo-box-mobile .course-progress-box label {
    color: #58595b;
    font: 10px HelveticaNeue;
    margin-bottom: 2px;
    text-transform: uppercase;
}

header .small-logo-box-mobile .course-progress-box .course-progress {
    background-color: #eeefef;
    border-radius: 3px;
    height: 10px;
    position: relative;
    width: 170px;
    display: inline-block;
    float: right;
}

header .small-logo-box-mobile .course-progress-box .course-progress-percentage {
    background-color: #ffd200;
    border-radius: 3px;
    height: 10px;
}

.path-course .sections-containter .sections-menu,
.path-course .course-content .sections-menu a.schedule_item {
    display: none;
}

.path-course .course-file-box {
    margin-bottom: 10px;
}

.mobile-quiz-flagged {
    display: none;
}

.course-root-sections {
    padding-bottom: 20px !important;
}

section.left-sidebar .main-navigation li .menu-icon {
    width: 31px;
    margin-left: 17px;
}

.main-navigation .actions,
.main-navigation .bookmarks,
.main-navigation .logout {
    display: none;
    opacity: 0;
}


/*.main-navigation .actions-menu {
    display: none;
    opacity: 0;
    background-color: #00428e;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    color: #003370;
    padding: 0;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1000000;
    padding: 20px 20px 10px 10px;
}
.main-navigation .actions:hover .actions-menu {
    display:block;
    opacity: 1;
}*/


button,
input.form-submit,
input[type="button"],
input[type="submit"],
input[type="reset"],
.mod_quiz-review-btn {
    padding: 3px 12px 2px 12px !important;
    /*padding: 5px 12px 3px 12px !important;*/
    line-height: 20px !important;
    /*height: 24px;*/
    padding-top: 3px !important;
}

#page-mod-quiz-view .singlebutton.quizstartbuttondiv input[type="submit"],
#page-mod-quiz-attempt .mod_quiz-review-btn,
#page-mod-quiz-attempt .btn-cancel,
#page-mod-quiz-attempt input[name="submitbutton"] {
    padding: 3px 25px 4px 25px !important;
    font: 600 10px/19px HelveticaNeue !important;
}

@-moz-document url-prefix() {
    button,
    input.form-submit,
    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    .mod_quiz-review-btn {
        padding-top: 2px !important;
    }
}

.course-content-footer-navbuttons > .btn {
    /*padding: 4px 0 2px 0 !important;*/
    padding: 4px 12px 2px 12px !important;
}

.course-content-footer-navbuttons > .btn > a {
    padding: 0 !important;
}

.bookmarks-form .close {
    display: none;
}

@media (max-width: 1280px) {
    .header-logo {
        width: 45%;
    }
}

@media (max-width: 1200px) {
    header .header-navbar .container-fluid.header-search-panel .search-input-wrapper {
        width: 40%;
    }
    header .header-navbar .header-notifications-menu {
        width: 60%
    }
    header .header-navbar .header-notifications-menu > ul > li:nth-last-child(n+3) ~ li:not(li.moodle-editing-btn) {
        width: 40%;
    }
    header .header-navbar .header-notifications-menu > ul > li:nth-last-child(n+3):first-child {
        width: 35%;
    }
    header .header-navbar .header-notifications-menu > ul > li.moodle-editing-btn {
        width: 25%;
    }
}

@media (max-width: 980px) {
    /* .path-local-gradebook  */
    #page.container-fluid {
        margin-top: 0px !important;
    }
}

@media (min-width: 960px) {
    .bookmarks-box {
        min-height: 310px;
    }
    header .header-navbar {
        width: 60%;
    }
    .header-navbar .breadcrumb-nav {
        margin-top: 15px;
    }
    header .header-logo {
        width: 36%;
    }
}

@media (min-width: 650px) {
    #page-login-index #notice {
        margin-top: 30px;
    }
    #page-login-index #notice p {
        margin-bottom: 20px;
    }
}

@media (max-width: 960px) {
    #page-mod-quiz-attempt .course-content-footer-inner {
        padding: 0px!important;
        padding-top: 10px
    }
    .path-mod-quiz .mobile-quiz-flagged {
        display: block;
        width: 100%;
        border-top: 1px solid #ccc;
    }
    .path-mod-quiz .mobile-quiz-flagged span {
        cursor: pointer;
    }
    .path-mod-quiz .mobile-quiz-flagged p {
        padding-top: 10px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        font-size: 12px;
        font-weight: bold;
        color: #980d22;
    }
    .path-mod-quiz .course-content-footer-inner {
        padding-top: 10px!important;
    }
    #page-mod-quiz-attempt #region-main .que > .info ul
    /*, #page-mod-quiz-attempt #region-main .que > .info h3*/
    {
        display: none;
    }
    #page-mod-quiz-attempt #region-main .que > .info {
        width: 0px;
        height: 0px;
        padding: 0px;
    }
    #page-mod-quiz-attempt #region-main .que .content {
        padding-right: 0px;
        border-right: none;
        width: 100%;
    }
    .path-mod .course-content-header .section-menu .menu-item,
    .path-course .course-content-header .section-menu .menu-item {
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 5px;
    }
    .path-mod .course-content-header .section-menu,
    .path-course .course-content-header .section-menu {
        padding-bottom: 10px;
    }
    .path-mod .activecourse {
        display: none;
    }
    .main-navigation .activecourse {
        display: block !important;
    }
    #page-mod-quiz-view .attempts .attempt-item {
        font-size: 16px;
    }
    .path-course .course-content .sections-menu {
        display: none;
    }
    .path-course .sections-containter .sections-menu {
        display: block;
        width: 100%;
    }
    .path-course .sections-containter .sections-menu a {
        display: inline-block!important;
        width: calc(calc(100%/3) - 7px);
    }
    .path-course .sections-containter .sections-menu a {
        margin-right: 10px;
    }
    .path-course .sections-containter .sections-menu a:nth-last-of-type(1) {
        margin-right: 0px;
    }
    .hidden_mobile,
    .container-fluid .left-sidebar,
    .container-fluid.header-path-panel,
    #page-content .course-catalog-title,
    header .small-logo-box .course-progress-box {
        display: none;
    }

    .path-course .course-content .course-level-0 .section-completion-status {
        height: 16px;
        width: 250px;
        position: absolute;
        left: 102px;
        bottom: 5px;
        text-align: left;
    }
    .path-course .course-content .course-level-0 .section-completion-status label {
        padding-bottom: 0px;
    }

    .path-course .course-content .sections-containter {
        width: 100%;
    }
    .path-course .course-file-box {
        margin-right: 0px;
    }
    .path-course .row-fluid [class*="span"] {
        margin-left: 0px!important;
    }
    .path-course #page.container-fluid {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .path-course .span3.side-post {
        /*display: none;*/
    }
    /*.path-course #region-main-box {
        width: 100%;
    }*/
    .row-fluid .span3 {
        width: 22.9281768%;
    }
    header .small-logo-box .course-name-box {
        margin-left: 55px;
        margin-top: 0px;
    }
    header .small-logo-box-mobile {
        display: block;
    }
    header .moble-course-progress {
        display: inline-block;
        padding-right: 10px;
        float: left;
        color: #58595b;
        font: 10px HelveticaNeue;
        margin-bottom: 2px;
        text-transform: uppercase;
    }
    header .small-logo-box {
        display: block;
        padding: 0px;
        margin: 0px;
        position: absolute;
        top: -8px;
        left: 80px;
    }
    /*header .small-logo-box-mobile {
        display: block;
        padding: 0px;
        margin: 0px;
        position: absolute;
        bottom: 5px;
        right: 10px;
        width: 290px;
    }*/
    header .header_course_name {
        display: inline-block;
        position: absolute;
        top: 15px;
        color: #003370;
        font: bold 22px HelveticaNeueUltraLight;
        letter-spacing: 1.2px;
    }
    .container-fluid .left-sidebar.active {
        display: block;
        position: fixed;
    }
    .container-fluid #page-content.active-sidebar {
        /*padding-left: 55px;*/
    }
    .container-fluid.full-width #page-content.active-sidebar {
        padding-left: 70px;
    }
    .container-fluid #page-content.active-sidebar.open {
        padding-left: 265px;
    }
    .container-fluid.full-width {
        padding-left: 0px!important;
        padding-right: 0px!important;
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    #page.container-fluid {
        margin-top: 0;
    }
    /* old style
    .navbar.navbar-fixed-top.moodle-has-zindex {
        position: relative;
        height: 105px;
        margin-bottom: 10px;
    }
    */
    .navbar.navbar-fixed-top.moodle-has-zindex {
        position: fixed;
        height: 70px;
        margin-bottom: 0px;
        top: 0;
        left: 0;
    }
    header .header-navbar {
        width: 100%;
    }
    header .header-navbar .moodle-editing-btn {
        display: none;
    }
    header .header-navbar .container-fluid.header-search-panel {
        margin: 0 10px 0 10px;
    }
    header .header-navbar .header-notifications-menu > ul > li:nth-last-child(2) {
        border-right: none;
    }
    header .header-navbar .header-notifications-menu > ul > li:nth-last-child(3),
    header .header-navbar .header-notifications-menu > ul > li:nth-last-child(2) {
        width: 50%;
    }
    header .header-logo {
        position: absolute;
        left: 0px;
        top: 15px;
        height: 55px;
        width: 100%;
        max-width: none;
    }
    header .header-logo .logo {
        margin-left: 0px;
    }
    header .header-logo div.small-logo,
    header .header-logo div.logo {
        background-size: 80%;
        width: 45px;
        max-width: 45px;
        display: inline-block;
    }
    header .header-logo div.small-logo {
        padding: 0px;
        margin: 0px;
        height: 53px;
    }
    .path-my .nav-tabs-header {
        display: none;
    }
    header .mobile-nav {
        display: inline-block;
        background-size: 50%;
        width: 55px;
        height: 34px;
        margin-bottom: 21px;
        margin-left: 20px;
        cursor: pointer;
    }

    .path-course .course-content .inner-section-box .section.section-level-1 {
        display: block;
        width: 100%;
    }
    .path-course .course-content .inner-section-box {
        margin-right: 0px;
    }
    .row-fluid .span3 {
          width: 150px;
    }
    .side-post aside {
        width: inherit;
    }
    .row-fluid .span9 {
        width: calc(100% - 170px);
        float: right;
    }
    .course-navigation-block ul {
        padding: 0 10px 0 8px;
    }
    .course-navigation-block .course-section-box a {
        font-size: 12px;
    }
    .container-fluid .side-post.open {
        display: -webkit-inline-box;
    }
    .active-sidebar {
        /*padding-left:60px !important;*/
    }
    .navbar.navbar-fixed-top.moodle-has-zindex {
        height: 80px !important;
    }
    .small-logo-box-mobile {
        bottom: none !important;
        top: 0px !important;
        padding-left: 20px;
        padding-top: 5px;
        bottom: 0 !important;
        margin-top: 56px !important;
    }
    #page {
        margin-top: 80px !important;
    }
    .course-progress-box .course-progress {
        float: left !important;
        margin-top: -1px !important;
    }
    #page-content {
        margin-top: 90px;
    }
    .container-fluid .left-sidebar.active {
        display: block;
        position: fixed;
        top: 80px !important;
    }
    .active-sidebar {
        margin-top: 80px !important;
    }
    /*.main-navigation .actions,*/
    .main-navigation .bookmarks,
    .main-navigation .logout {
        display: block;
        opacity: 1;
    }
    .span3.side-post.open {
        /*margin-top:-10px;*/
    }
    .header-notifications-menu {
        /*
        display: none !important;
        opacity: 0 !important;
        */
        margin-top: -100px;
    }
    .bookmarks-box {
        background-color: #fff !important;
        border: 1px solid #fff !important;
        max-height: auto !important;
        position: fixed !important;
        right: 0 !important;
        width: 100% !important;
        margin-top: 0px !important;
        margin-bottom: -80px !important;
        top: 80px !important;
        left: 65px !important;
        height: 100%;
        padding-right: 42px;
        padding-bottom: 88px;
    }
    header .small-logo-box-mobile .course-progress-box {
        position: absolute;
        top: 60px !important;
        margin-top: 0 !important;
    }

    #page-login-index .header-logo {
        top: 0 !important;
    }
    #page-login-index .header-logo .logo {
        width: 100px;
        height: 70%;
        margin-top: 10px;
    }
    #page-login-index .header_course_name {
        top: 30px;
        left: 100px;
        margin-left: 0px;
    }
    #page-login-index .loginbox {
        margin: 0 !important;
    }
    #page-login-index #page-content {
        /*margin-top:0 !important;*/
    }
    #page-mod-quiz-attempt .quiz-attempt-page {
        padding-left: 110px;
    }
    #page-mod-quiz-attempt .quiz-attempt-page .flagged-box {
        width: 110px;
    }
    #page-mod-quiz-attempt .quiz-attempt-page .quiz-attempt-form {
        padding-left: 20px;
    }
    #page-mod-quiz-attempt .quiz-attempt-page .que .content {
        margin: 0 0 0 0;
        padding-left: 6em;
    }
    #page-mod-quiz-attempt .quiz-attempt-page .qtext {
        word-wrap: break-word;
        display: block;
        width: 100%;
    }
    .bookmarks-form label {
        width: 100%;
    }
    .bookmarks-form a {
        margin-left: 0;
        float: right;
        margin: 15px 10% !important;
        padding: 10px 8px !important;
        background: #ddd !important;
    }
    .bookmarks-form a.hide-edit-form-btn {
        margin-right: -9% !important;
    }
    .header-notifications-menu ul li .bookmarks-form form a {
        float: right;
    }
    .bookmarks-form input[name="bookmark_name"] {
        margin-left: 0;
        height: 32px;
        width: 90%;
        padding: 0;
        text-indent: 7px;
        line-height: 29px;
    }
    #page-content.active-sidebar {
        padding-left: 60px;
    }
    #page-mod-quiz-attempt #region-main .que .info h3 {
        display: block !important;
        opacity: 1 !important;
        width: 120px !important;
    }
    #page-mod-quiz-attempt #region-main .que {
        position: relative !important;
    }
    #page-login-forgot_password .mobile-nav,
    #page-login-index .mobile-nav {
        display: none;
        opacity: 0;
    }
    #page-login-forgot_password .header-logo {
        padding-left: 40px;
    }
    .section-menu .menu-item:last-child a {
        margin-right: 4px !important;
    }
    #page-login-index .footnote {
        width: 100%;
    }
    #page {
        padding-left: 0 !important;
    }
    .container-fluid #page-content.active-sidebar {
        padding-left: 60px !important;
    }
    #region-main-box {
        width: 100% !important;
        padding: 0 10px !important;
    }
    /*.active-sidebar {
        margin-left: -24px;
    }*/
    .side-post.open {
        margin-left: 0px !important;
        width: calc(100% - 32px) !important;
        z-index: 1 !important;
    }

    #region-main-box {
        margin-left: 0;
    }

    .side-post {
        width: calc(100% - 20px) !important;
    }
    .side-pre-box.open {
        top: 80px;
        width: calc(100% - 65px);
    }

    .active-sidebar #region-main-box {
        padding-left: 20px !important;
    }
    #page-content.row-fluid .side-post {
        display: none;
    }
    #page-content.row-fluid.active-sidebar .side-post.open {
        display: -webkit-inline-box;
    }
    .path-mod-quiz .que img.questioncorrectnessicon {
        width: 10px !important;
        height: 10px !important;
    }
    .course-navigation-block .course-section-box a {
        padding: 7px 50px 7px 25px;
    }

    .course-navigation-block .course-section-box .toggler {
        right: 20px;
        top: 7px;
    }
    .bookmarks-form .close {
        display: block !important;
        font-size: 20px;
        margin-right: calc( 10% - 4px);
    }
    .course-root-sections {
        padding-left:6px !important;
    }
    .path-course .course-content .course-level-0 ul.institutes li.section .content h4 {
        text-align: left;
        margin: 0px;
    }
    .path-course .course-content .course-level-0 ul.institutes li.section h4 span:not(.title) {
        display: inline-block;
        text-align: left;
        font-size: 70px;
        line-height: 70px;
        height: 55px;
    }

    /* course/view modules list */
    .path-course .course-content .course-level-0 ul.institutes li.section .content {
        margin: 15px 20px;
    }
    .path-course .course-content .course-level-0 ul.institutes li.section {
        width: 100% !important;
        margin-left: 0px;
        margin-right: 0px;
        min-height: 200px !important;
        height:auto !important;
    }

    .path-course .section-level-0 .section-summary {
        max-height: 1000px !important;
    }
    .path-course .course-content .course-level-0 .section-completion-status {
        width: 100% !important;
        left: 0px !important;
        bottom: 15px !important;
    }
    /* end course/view modules list */

    /* fix full nav on tablet and mobile  */
    #page {
        padding-left: 0 !important;
        margin-left: 0 !important;
    }
    #page-content.active-sidebar.open {
        padding-left:263px !important;
    }
    .course-navigation-block .course-section-box i.status {
        left: 10px !important;
        top: 7px;
    }
    .course-navigation-block .course-level1-sections i.status {
        left: -8px !important;
        top: 0px !important;
    }
    #region-main-box {
        padding-right: 0 !important;
    }
    #region-main {
        padding-left: 0 !important;
    }
    .course-content-footer-navbuttons > span:nth-child(2) {
        margin-right: calc(50% - 110px) !important;
    }
    .course-content-footer-navbuttons:not(.course-content-footer-navbuttons:has(.next-button)) > span {
        margin-right: calc(50% - 50px) !important;
    }
    #page-course-format-institutes-menusettings #fgroup_id_buttonar input {
        width:120px !important;
    }
    #page-course-format-institutes-menusettings #fgroup_id_buttonar input:nth-child(1) {
        margin-left: calc(50% - 155px);
    }
    #page-course-format-institutes-resources .next-button {
        margin-right: 10px !important;
    }
    #page-course-format-institutes-resources .course-content-footer-navbuttons>span:nth-child(2) {
      margin-right: 0 !important;
    }
}

@media (max-width: 900px) {
    #page-mod-quiz-attempt .quiz-attempt-page .que .formulation {
        padding: 0;
    }
}

@media (max-width: 830px) {
    #page-course-format-institutes-resources .segment-back-buttons {
      width: 100%;
      margin-bottom: 40px;
    }
    #page-course-format-institutes-resources .segment-back-buttons > span:nth-child(2) {
      margin-right: calc( 50% - 181px ) !important;
    }
}

@media (max-width: 800px) {
    div[role="dialog"] {
        width: 100% !important;
        left: 0px !important;
        top: 150px !important;
    }
    #section-1 > .content > h3,
    li.main-section > .content > h3,
    .inner-sectionname h3.sectionname,
    #page-course-format-institutes-resources .main:nth-child(1) > .content > h3.sectionname {
        padding-top: 50px !important;
        width: 100% !important;
    }
    .path-course-view .inner-sections > li h3.sectionname {
        float: left;
        display: block;
        width: 100%;
        min-height: 30px;
    }
    .path-course-view .inner-sections > li .inner-sections {
        float: left;
        width: 100%;
        margin-top:10px;
    }
    #page-course-format-institutes-resources ul.section > li {
        width: 99%;
    }
    #page-course-format-institutes-resources .course-level-activities .activities-box li .completion-buttons {
        right: 50px !important;
    }
}

@media (max-width: 768px) {
    .section-menu-div li.menu-item {
        width: 43%;
    }
    #page-mod-quiz-attempt .quiz-attempt-page .que .formulation {
        margin-top: 40px;
    }
    #page-mod-quiz-attempt .quiz-attempt-page .que .questionflag {
        position: absolute;
        top: 20px;
        left: 15em;
    }
    #page-mod-quiz-attempt .quiz-attempt-page .que .content {
        padding-left: 0px;
    }
}
@media (max-width: 767px) {
    #page-mod-quiz-review .container-fluid {
        padding: 0 10px 0 0 !important;
    }
}


@media (max-width: 715px) {
    #page-course-format-institutes-resources .segment-back-buttons > span:nth-child(2) {
      margin-right: calc( 50% - 181px ) !important;
    }
}


@media (max-width: 640px) and (min-width: 550px) {
    .path-course-format .section > li,
    .path-course-view .section > li,
    .path-course-format .inner-sections > li,
    .path-course-view .inner-sections > li,
    .path-course-format .segment-sections-box > li,
    .path-course-view .segment-sections-box > li {
        width:100% !important;
    }
}

@media (max-width: 640px) {
    #page-login-forgot_password .generalbox {
        width: 100%;
    }
    #page-login-forgot_password #page-content {
        padding-left: 20px !important;
    }
    header .header-navbar .container-fluid.header-search-panel .search-input-wrapper {
        width: 40%
    }
    header .header-navbar .header-notifications-menu {
        width: 60%
    }
    h3.sectionname,
    ul.inner-sections {
        width: 98% !important;
    }
    ul.inner-sections li {
        width: 43% !important;
    }
    .section-menu-div li.menu-item {
        width: 99%;
    }
    @-moz-document url-prefix() {
        .course-name-box a {
            font-size: 14px !important;
        }
    }
    html[data-useragent*='MSIE 10.0'] .course-name-box a,
    html[data-useragent*='Edge'] .course-name-box a {
        font-size: 14px !important;
    }
}

@media (max-width: 600px) {

    #page-mod-quiz-attempt .quiz-attempt-page {
        padding-right: 10px !important;
        padding-top: 80px !important;
        padding-left: 0 !important;
    }
    #page-mod-quiz-attempt .flagged-box {
        top: 0 !important;
        width: 100% !important;
    }
    /*    #page-mod-quiz-attempt .quiz-attempt-page .que .questionflag {
        position: absolute;
        top: 80px !important;
        left: 70px !important;
    }
*/
    #page-mod-quiz-attempt .quiz-attempt-page .que .questionflag {
        position: absolute;
        top: 18px !important;
        left: 110px !important;
    }
    #page-mod-quiz-attempt .quiz-attempt-page .que .info .question-idnumber {
        width: 60px !important;
        margin: 5px 0 0 !important;
    }
    #page-mod-quiz-attempt #quiz-timer {
        margin-top: -90px !important;
    }
    #page-mod-quiz-attempt .qn_buttons {
        position: absolute;
        width: 98%;
        border-bottom: 1px solid #aaa !important;
        margin-left: -12px !important;
        padding-left: 10px !important;
    }
    #page-mod-quiz-attempt .qn_buttons li {
        display: block;
        float: left;
        margin-right: 10px;
        margin-bottom: 3px;
    }
    #page-mod-quiz-attempt .qn_buttons li.hidden {
        display: none !important;
        opacity: 0 !important;
    }
    #page-mod-quiz-attempt #responseform {
        margin-top: 70px !important;
    }
    #page-mod-quiz-attempt .flagged-box-header {
        margin-bottom: 11px;
        border-bottom: 1px solid #bbb;
        padding-bottom: 4px;
    }
    /*#page-mod-quiz-attempt .quiz-attempt-buttons input:nth-child(2) {
        position: absolute !important;
    }
    #page-mod-quiz-attempt .quiz-attempt-buttons input:nth-child(4) {
        float: right !important;
    }*/
    #page-mod-quiz-attempt .quiz-attempt-buttons input[type="submit"] {
        min-width: 65px !important;
        float: left;
    }
    #page-mod-quiz-attempt .quiz-attempt-buttons {
        position: relative;
        min-height: 70px;
    }
    #page-mod-quiz-attempt .mod_quiz-navigation-links {
        width: auto !important;
        /*float:left !important;*/
        position: absolute;
        left: 27%;
    }
    #page-mod-quiz-attempt input[value="Finish Attempt"] {
        position: absolute !important;
        top: 65px !important;
        left: 100% !important;
        margin-left: -119px !important;
    }
    #page-mod-quiz-attempt input[value="Next"] {
        position: absolute !important;
        left: 100% !important;
        margin-left: -65px !important;
    }
    #page-mod-quiz-attempt input[value="Previous"] {
        margin-left: 0 !important;
    }
    #page-mod-quiz-view .singlebutton.quizstartbuttondiv input[type="submit"],
    #page-mod-quiz-attempt .mod_quiz-review-btn,
    #page-mod-quiz-attempt .btn-cancel,
    #page-mod-quiz-attempt input[name="submitbutton"] {
        padding: 3px 25px 4px 25px !important;
        font: 600 10px/19px HelveticaNeue !important;
    }
    #page-course-format-institutes-resources .resource-name {
        width: 100%;
    }
}

@media (max-width: 960px) and (min-width: 560px) {}

@media (max-width: 560px) {
    .course-navigation-block .course-section-box .toggler {
        right: 30px !important;
    }
    section.left-sidebar.open {
        /*width: 100%;*/
    }
    #page {
        padding-left: 0 !important;
    }
    .container-fluid #page-content.active-sidebar {
        padding-left: 60px !important;
    }
    #region-main-box {
        width: 100% !important;
        padding: 0 10px !important;
    }
    .course-name-box {
        width: 100%;
    }
    #page {
        margin-top: 40px !important;
    }
    .small-logo-box-mobile {
        top: 0;
        left: 20px;
    }
    body {
        overflow-x: hidden;
    }
    #region-main-box {
        width: 100% !important;
    }
    .side-post {
        width: calc(100% - 32px) !important;
    }

    .side-post.open {
        margin-left: 0px !important;
        width: calc(100% - 22px) !important;
        z-index: 1 !important;
    }

    ul.inner-sections li {
        width: 98% !important;
        margin-bottom: 10px;
    }
    #page-mod-quiz-view .generaltable {
        overflow-x: scroll;
        width: 100%;
        display: block;
    }
    #page-mod-quiz-review th.cell {
        min-width: 90px !important;
        padding: 7px 20px 7px 0 !important;
        padding-right: 10px !important;
    }
    #page-mod-quiz-review .generaltable td.cell {
        line-height: 22px !important;
        width: 70% !important;
    }
    #page-mod-quiz-view .moodle-dialogue-base .moodle-dialogue {
        width: 100% !important;
    }
    #page-course-format-institutes-resources .course-level-activities .activities-box li .completion-buttons {
        right: 30px !important;
    }
}

@media (max-width: 480px) {
    header .header-notifications-menu > ul > li > a {
        font-size: 12px;
    }
    header,
    footer,
    .container-fluid.full-width {
        /*min-width: 480px;*/
    }
    .small-logo-box {
        width: calc(100% - 130px);
    }
    #page-course-format-institutes-resources {
        overflow-x: hidden;
    }
    .path-course-view .segment-sections-box {
        margin: 0 !important;
    }
}

@media (max-width: 460px) {
    .small-logo-box .course-name-box > a {
        font-size: 16px !important;
        line-height: 20px !important;
    }
    @-moz-document url-prefix() {
        .small-logo-box .course-name-box a {
            font-size: 12px !important;
        }
    }
    html[data-useragent*='MSIE 10.0'] .course-name-box a,
    html[data-useragent*='Edge'] .course-name-box a {
        font-size: 14px !important;
    }
    .course-progress-box .course-progress {
        width: 120px !important;
    }

    .path-course .course-content .course-level-0 .section-completion-status {
        left: 52px;
        bottom: 0px;
    }
    .section-completion-status label {
        font: bold 10px Arial;
    }
    submit[value="Continue the last attempt"] {
        padding: 6px 15px 4px 15px !important;
    }

    #page {
        padding-right: 0 !important;
    }
    .no-overflow {
        margin-left: -20px;
        padding-left: 20px;
        width: calc(100% + 40px);
        padding-right: 20px;
    }
    .course-content .course-level-1 .section.main-section .content .summary iframe {
        width: calc(100% + 40px);
        min-height: 100px !important;
        margin-left: -20px;
        position: relative;
    }

    /* course/view modules list */
    .path-course .course-content .course-level-0 ul.institutes li.section .content {
        margin: 15px 25px;
        padding-bottom: 30px;
    }
    .course-content .course-level-0 .section-summary {
        width: 95% !important;
    }
    /* end course/view modules list */

    .path-course .course-content .course-level-0 ul.institutes li.section h4 span:not(.title) {
        width: 40px;
    }
    .path-course .course-content .course-level-0 ul.institutes li.section h4 span:not(.title) {
        font-size: 30px;
        line-height: 34px;
        height: 55px;
        margin-top: -2px;
    }
    .path-course .course-content .course-level-0 ul.institutes li.section h4 span.title {
        width: calc(100% - 60px);
    }
    .course-name-box a {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
}

@media (max-width: 360px) {
    .small-logo-box > a {
        display: none;
        opacity: 0;
    }
    .course-name-box {
        margin-left: 0 !important;
        margin-top: 0 !important;
    }

    .small-logo-box {
        position: absolute !important;
        top: -5px !important;
        left: 0px !important;
        width: 100% !important;
        padding-left: 60px !important;
    }
    .small-logo-box .course-name-box {
        width: 100% !important;
    }
    .mobile-nav {
        position: relative !important;
        z-index: 4 !important;
    }
}

@media (max-width: 767px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }
    .navbar-fixed-top,
    .navbar-fixed-bottom,
    .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 1200px) {
    .login-page #page.container-fluid {
        width: 35%;
    }
    .login-page footer#page-footer {
        width: 65%;
    }
    /*.container-fluid.header-search-panel .search-input-wrapper {width: 40%;}*/
    /*.header-notifications-menu {width: 58%;}*/
}

@media (max-width: 1000px) {
    /* #page.container-fluid.full-width { margin-top: 0;} */
    .activities-box li div:nth-child(1),
    .course-content .section .content .section-name-box,
    .course-content .section .content .segment-sections-link,
    .segment-sections-box li.segment-sections-item > div:nth-child(1) {
        width: 100% !important;
        display: block;
    }
    .institutes .activity-box > div:nth-child(2),
    .institutes .activity-box > div:nth-child(3) {
        margin-top: 0px;
    }
    .segment-section-modules-box .activityname-box,
    .course-content .section .content .section-modules-box {
        float: left;
        width: 100% !important;
    }
    .path-course-view .section-name-box .summary {
        margin-bottom: 0 !important;
    }
    .section-audio-box {
        float:left !important;
    }
    .path-course-format .activityinstance .linkclass,
    .path-course-view .smodule-title {
        margin-bottom: 8px !important;
    }
}

@media (max-width: 950px) {
    .login-page #page.container-fluid {
        width: 45%;
    }
    .login-page footer#page-footer {
        width: 55%;
    }
    /*.container-fluid.header-search-panel .search-input-wrapper {width: calc(100%-105px);}*/
    /*.header-notifications-menu {width: 100px; float: right;}
    .header-notifications-menu ul li { width: auto;}
    .header-notifications-menu ul li .menu-text {display: none;}    */
}

@media (max-width: 850px) {
    .login-page footer .foot-notes .footnote.text-center {
        width: 90%
    }
}

@media (max-width: 800px) {
    .course-content .section.section-level-2 .content .section-name-box {
        width: 100%;
        margin-bottom: 20px;
    }
    .course-content .section.section-level-2 .content .section-modules-box {
        float: left;
        width: 75%;
    }
    .course-content .section.section-level-2 .content .section-audio-box {
        width: 25%;
    }
    #page-course-view-institutes ul.exams-view .sectiontype-modules .content > div {
        width: 100% !important;
    }
    #page-grade-report-grader-index .gradereport-grader-table {
        width: 100%;
    }
    .path-course .section-name-box {
        margin-bottom: 0 !important;
    }
}

@media (max-width: 750px) {
    .login-page #page.container-fluid {
        width: 50%;
    }
    .login-page footer#page-footer {
        width: 50%;
    }
    #page-site-index .coursebox .content .summary,
    #page-site-index .coursebox .content .coursecat {
        float: left;
        width: 100%;
        margin-top: 20px !important;
    }
}

@media (max-width: 728px) {
    #page-course-view-institutes .section-header-title li:nth-child(2),
    #page-course-view-institutes .section-header-title li:nth-child(3) {
        display: none;
        opacity: 0;
    }
    #page-course-view-institutes .institutes .activity-box > div {
        display: block;
        float: left;
    }
    #page-course-view-institutes .institutes .activity-box > div:nth-child(1) {
        width: 100%;
    }
    #page-course-view-institutes .institutes .activity-box > div:nth-child(2) {
        padding-left: 0;
        width: 50%;
    }
    #page-course-view-institutes .institutes .activity-box > div:nth-child(3) {
        width: 45%;
    }
    #page-course-view-institutes .institutes .activity-box > div:nth-child(2) a {
        margin-top: 0 !important;
        float: left;
    }
    #page-course-view-institutes .institutes .activity-box > div:nth-child(2),
    #page-course-view-institutes .institutes .activity-box > div:nth-child(3) {
        margin-top: 0px;
    }
    #page-mod-scorm-report table.boxaligncenter,
    #page-mod-scorm-report table.boxaligncenter tbody,
    #page-mod-scorm-report table.boxaligncenter tbody tr,
    #page-mod-scorm-report table.boxaligncenter tbody tr td {
        width: 100% !important;
        display: block;
    }
    #page-mod-scorm-report table.boxaligncenter {
        margin-bottom: 20px;
    }
    #page-mod-scorm-report #commands [type="submit"] {
        margin-top: 10px;
    }
    .path-course-view .activityname-box .activityinstance {
        display: none !important;
        opacity: 0 !important;
    }
    .path-course-view .activityname-box .activityinstance + .mod-text {
        display: none !important;
        opacity: 0 !important;
    }
    .path-course-view .course-content .section-level-2 .section-modules-box ul.section li.activity,
    .path-course-view .course-content .section-modules-box ul.section li.activity .activity-box {
        margin-bottom: 0px;
    }
}

@media (max-width: 650px) {
    #page-content .singlebutton input[type="submit"]:nth-child(1) {
        margin-left: -4px !important;
    }
    .login-page {
        background-image: none;
        background-color: #003370;
    }
    .login-page #page.container-fluid {
        height: 100%;
        overflow: auto;
        padding: 30% 0 0;
        position: relative;
        width: 100%;
    }
    /*.login-page footer#page-footer {
        100%
    }*/
    .login-page .container-fluid header {
        background-color: #fff;
        height: 26%;
        position: absolute;
        top: 0;
        width: 100%;
    }
    /*.login-page .container-fluid header div.logo { background-size: contain;float: none; height: 80%; margin: 10px auto 0; width: 50%;}*/
    .login-page footer#page-footer {
        display: none;
    }
    #page-course-format-institutes-resources .segment-back-buttons + span.prev-button {
        display: block;
        margin: 20px 0 0 0;
        float: right;
    }
    #page-course-format-institutes-resources .segment-back-buttons {
        width: 100%;
    }
    /*#page-course-format-institutes-resources .segment-back-buttons > .prev-button:nth-child(2) {
        margin-right: 0 !important;
    }*/
    #page section.left-sidebar.active.open {
        width: 100% !important;
    }
    #page-mod-quiz-view .singlebutton div {
        display: block;
        width: 100%;
        height: 40px;
        position: relative;
    }
    #page-mod-quiz-view .singlebutton.quizstartbuttondiv input[type="submit"] {
        position: relative;
        margin: 0 auto;
        left: auto;
        margin-left: -10px;
    }

    #page-course-format-institutes-resources .segment-back-buttons > span:nth-child(2) {
      margin-right: calc( 50% - 181px ) !important;
    }
    #page-course-format-institutes-resources .course-content-footer-navbuttons > .prev-button {
      margin: 10px 0 0 calc(50% - 100px) !important;
      display: block !important;
      float: left!important;
    }
    #page-course-format-institutes-resources .course-content-footer-navbuttons > .next-button {
      display: block!important;
      float: left!important;
      margin-top: 10px !important;
    }
    #page-course-format-institutes-resources .segment-back-buttons + .next-button {
        margin: 40px calc(50% - 50px) !important;
    }
}

@media (max-width: 550px) {
    .login-page .container-fluid header {
        height: 22%;
    }
    .section-progress-box {
        width: 36%;
    }
    .section-progress-box .section-progress {
        width: 100%;
    }
    .segment-sections-box li.segment-sections-item .completion-actions-box .completion-actions-text,
    .institutes .activity-box > div:nth-child(3) .completion-actions-text {
        padding: 0 0 0 10px !important;
        width: 60px !important;
        line-height: 16px !important;
        padding-top: 5px !important;
    }
}

@media (max-width: 520px) {
    #page-course-format-institutes-resources .segment-back-buttons + span.prev-button {
        float: right;
        margin-right: 0px !important;
    }
    .active-sidebar #page-course-format-institutes-resources .segment-back-buttons span.prev-button:nth-child(1) {
        margin-bottom: 20px;
    }
    .path-course-format .completion-actions-box .completion-actions-text {
        padding-right: 0 !important;
        width: 100px !important;
    }
    .path-course-format .completion-actions-box a.completion-actions-text {
        line-height: 18px !important;
    }
    .segment-sections-box li.segment-sections-item .segment-sections-btnlink,
    #page-course-format-institutes-resources .activity-buttons {
        margin-right: 0 !important;
    }
}

@media (max-width: 500px) {
    #page-course-view-institutes ul.exams-view .sectiontype-modules .content .activity-box > div {
        width: 100% !important;
    }
    #page-course-format-institutes-resources .segment-back-buttons span.prev-button:nth-child(1) {
        margin-bottom: 20px;
    }
    #page-course-format-institutes-resources .segment-back-buttons span.prev-button {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .login-page .container-fluid header {
        height: 130px;
    }
    .login-page #page.container-fluid {
        padding: 130px 0 0;
    }
    #page-course-format-institutes-resources .mod-text .contentafterlink .no-overflow {
        padding-right: 0 !important;
    }
    #page-course-format-institutes-resources .course-level-activities .activities-box ul.section li.activity .mod-text .contentafterlink p {
        width: calc(100% + 50px) !important;
    }
    .path-course-view .activity-box > div:nth-child(3),
    .path-course-view .activity-box > .completion-buttons,
    .path-course-format .activity-box > div:nth-child(3),
    .path-course-format .activity-box > .completion-buttons {
        width: 120px !important;
        margin-right: 0 !important;
    }
    #page-course-format-institutes-resources .course-level-activities .activities-box li .completion-buttons {
        width:40px !important;
    }
}

@media (max-width: 430px) {
    #page-course-format-institutes-menusettings #fgroup_id_buttonar input {
        margin-left: auto !important;
        display: block !important;
        margin: 5px auto !important;
    }
}
@media (max-width: 420px) {
    #page-mod-quiz-summary .summary-box-control > div {
        float: left;
        display: block;
        margin:0 !important;
        width:49% !important;
    }
    #page-mod-quiz-summary .summary-box-control .submitbtns.back-button input {
        margin:0 !important;
    }
}

@media (max-width: 400px) {
    #page-course-view-institutes .institutes .activity-box > div:nth-child(1),
    #page-course-view-institutes .institutes .activity-box > div:nth-child(4),
    #page-course-view-institutes .institutes .activity-box > div:nth-child(1),
    #page-course-view-institutes .institutes .activity-box > div:nth-child(4) {
        width: 100% !important;
    }
    .path-course-view .activity .activityinstance {
        padding-right: 0 !important;
        width: 100%;
        padding-bottom: 0px !important;
    }
    .path-course-view .section .activity .actions {
        top: 100% !important;
        margin-top: -30px !important;
        margin-left: -2px;
    }
    input[id^="id_inplacevalue"] {
        max-width: 300px;
        left: 0 !important;
        margin-left: -60px !important;
        position: relative;
        display: block;
    }
    .section-progress-box {
        width: 100% !important;
        left: 0% !important;
        margin-left: 0px !important;
   }
}

@media (max-width: 380px) {
    .path-course .segment-sections-item > .segment-sections-btnlink,
    .path-course .activity-box > .activity-buttons {
        width: 120px !important;
    }
    .path-course .segment-sections-item > .segment-sections-btnlink a,
    .path-course .activity-box > .activity-buttons a {
        width: 100px !important;
    }
    #page-mod-quiz-view .quizattempt > div {
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    #page-course-view-institutes #page-content.active-sidebar .segment-sections-btnlink {
        width:110px !important;
    }
    #page-course-view-institutes #page-content.active-sidebar .completion-actions-box {
        width:100px !important;
    }
    #page-course-view-institutes #page-content.active-sidebar .completion-actions-box .completion-actions-text {
        width:60px !important;
        line-height: 16px !important;
    }
    #page-mod-quiz-view .alert {
        margin-bottom:20px !important;
    }
}

@media (max-width: 360px) {
    #page-course-view-institutes .institutes .activity-box > div:nth-child(2) a {
        padding: 10px 0px !important;
        width: 100px !important;
    }
    .path-course .segment-sections-item > .segment-sections-btnlink,
    .path-course .activity-box>.activity-buttons,
    #page-course-view-institutes .institutes .activity-box > div:nth-child(2) {
        margin-right: 0 !important;
    }

    .small-logo-box {
        position: absolute !important;
        top: -5px !important;
        left: 0px !important;
        width: 100% !important;
        padding-left: 60px !important;
    }
    #page-content.active-sidebar .course-content .course-level-3 {
        padding: 0 !important;
    }
}

@media (max-width: 350px) {
    .path-course-view .activity-box > div:nth-child(3),
    .path-course-view .activity-box > .completion-buttons,
    .path-course-format .activity-box > div:nth-child(3),
    .path-course-format .activity-box > .completion-buttons {
        width: 120px !important;
        margin-right: 0 !important;
    }
    .login-page .container-fluid header {
        height: 100px;
    }
    .login-page #page.container-fluid {
        padding: 80px 0 0;
    }
    .institutes .activity-box > div:nth-child(2) a {
        padding: 10px 0px !important;
        width: 100px !important;
    }
    .segment-sections-box li.segment-sections-item .completion-actions-box .completion-actions-text,
    .institutes .activity-box > div:nth-child(3) .completion-actions-text {
        padding: 0 0 0 10px !important;
        width: 60px !important;
        line-height: 16px !important;
        padding-top: 5px !important;
    }
}
@media (max-width: 340px) {
    .course-content-footer-navbuttons > span {
        margin-bottom: 20px !important;
        margin-left:auto !important;
        margin-right: auto !important;
        display: block;
    }
    .course-content-footer-navbuttons > span:nth-child(1) {
        margin-left:auto !important;
    }
    .course-content-footer-navbuttons > span:nth-child(2) {
        margin-right: auto !important;
    }
    #page-course-format-institutes-resources .next-button {
        margin: 90px calc(50% - 50px) 0 calc(50% - 50px) !important;
    }
    #page-course-format-institutes-resources .segment-back-buttons + span.prev-button {
      float: right;
      margin: 0px calc(50% - 50px) 0 calc(50% - 50px) !important;
    }
}
@media (max-width: 339px) {
    .course-content-footer-navbuttons > span:nth-child(1) {
        margin-left: auto !important;
    }
}
