h2.resources-heading {
    font: bold 31px/33px HelveticaNeueUltraLight, sans-serif;
}

.course-file-box {
    margin: 0 2.4% 2% 0;
    position: relative;
}

.course-file-box img {
    width: 100%;
}

.course-file-box .mediaplugin {
    margin: 0;
}

.course-file-box .mediaplugin video {
    width: 100%;
}

.path-course-view .course-content .completionprogress {
    display: none;
}


/* course summary block */

.courseformat-summary {
    background-color: #eeefef;
    border: 0 none;
    margin-bottom: 20px;
    padding: 25px;
    font: 15px/21px HelveticaNeue;
    color: #4f4f4f;
}

.courseformat-summary a {
    color: #4f4f4f;
    text-decoration: underline;
}

.courseformat-summary a:hover {
    color: #000;
    text-decoration: none;
}

.courseformat-summary h1 {
    color: #003370;
    display: block;
    font: bold 33px/35px HelveticaNeueUltraLight;
    margin: 0 0 15px;
    letter-spacing: 1.5px;
}

.courseformat-summary iframe {
    width: 100%;
    min-height: 400px;
}

.courseformat-summary .course-startbutton-box .btn {
    margin: 15px 0;
    padding: 12px 25px;
    text-decoration: none;
}

.courseformat-summary .course-startbutton-box .btn:hover {
    color: #4f4f4f;
}

.course-instruction-box {
    margin-top: 10px;
}

.course-instruction-info {
    margin-bottom: 15px;
}

.course-instruction-box ul,
.course-content li.section .course-instruction-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.course-instruction-box ul li,
.course-content li.section .course-instruction-box ul li {
    padding: 2px 0;
}

.course-instruction-box ul li a,
.course-content li.section .course-instruction-box ul li a {
    color: #4f4f4f;
    text-decoration: underline;
}

.course-instruction-box ul li a:hover,
.course-content li.section .course-instruction-box ul li a:hover {
    text-decoration: none;
}

.course-notifications {
    color: #fff;
    margin-bottom: 20px;
    padding: 10px 7%;
    position: relative;
}

.course-notifications .course-notifications-alert {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    font-size: 16px;
    height: 25px;
    left: 10px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: 8px;
    width: 25px;
}

.course-notifications .course-notifications-content {
    font: 14px/21px HelveticaNeue;
}

.course-notifications .course-notifications-close {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 11px;
}

.course-notifications .course-notifications-content p:last-child {
    margin: 0;
}

.course-notifications.info {
    background-color: #7da4dd;
}

.course-notifications.warning {
    background-color: #efd915;
}

.course-notifications.danger {
    background-color: #b94a48;
}

.course-notifications.success {
    background-color: #468847;
}

.instructions-popup-box {
    background-color: #7da4dd;
    color: #fff;
    left: 50%;
    margin-left: -150px;
    padding: 30px;
    position: fixed;
    top: 35%;
    width: 300px;
    z-index: 100;
    display: none;
}

.instructions-popup-box.open {
    display: block;
}

.instructions-popup-box .course-notifications-title {
    font: bold 19px/22px HelveticaNeueUltraLight;
    letter-spacing: 1px;
    margin-bottom: 15px;
    padding-right: 25px;
    position: relative;
}

.instructions-popup-box .course-notifications-title.not-allowed {
    padding-left: 30px;
}

.instructions-popup-box .course-notifications-title .icon-alert {
    background: transparent url([[pix:theme|themeicons/Alerts_Red]]) no-repeat scroll 50% 0 / contain;
    position: absolute;
    height: 18px;
    left: 0;
    position: absolute;
    top: -2px;
    width: 18px;
}

.instructions-popup-box .course-notifications-close {
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -20px;
}

.instructions-popup-box .course-notifications-message {
    font: 14px/19px HelveticaNeue;
}

.instructions-popup-box .course-notifications-attention {
    font: 14px/19px HelveticaNeue;
    padding: 15px 0 0 31px;
    position: relative;
}

.instructions-popup-box .course-notifications-attention .icon-alert {
    background: transparent url([[pix:theme|themeicons/Alerts_Red]]) no-repeat scroll 50% 50% / contain;
    position: absolute;
    left: 10px;
    top: 17px;
}

.instructions-popup-box .instructions-popup-buttons {
    padding: 20px 0 0 30px;
}

.resources-box .instructions-popup-box .instructions-popup-buttons {
    padding: 20px 0 0 5px;
}

.instructions-popup-box .instructions-popup-buttons .btn {
    padding: 3px 0;
    text-decoration: none;
    width: 100px;
    margin-right: 5px;
}

.instructions-popup-box .instructions-popup-buttons .btn.btn-cancel:hover {
    color: #000;
}

.instructions-popup-box .instructions-popup-buttons .btn.btn-cancel {
    background-color: #fff;
    color: #991c24;
    border-color: #fff;
}

.course-content .course-level-0 ul.institutes li.section.general-section {
    float: none;
    width: 100%;
    height: auto;
    background-color: #eeefef;
    border: 0 none;
    margin-bottom: 20px;
    color: #4f4f4f;
    font: 15px/21px HelveticaNeue;
    cursor: initial;
    padding-bottom: 20px;
}

.course-content .course-level-0 .general-section .section-summary {
    font: 15px/21px HelveticaNeue;
    width: 100%;
    padding-right: 25px;
    max-height: 100%;
}

.course-content .course-level-0 .general-section .section-summary a {
    color: #4f4f4f;
    text-decoration: underline;
}

.course-content .course-level-0 .general-section .section-summary a:hover {
    color: #000;
    text-decoration: none;
}

.course-content .course-level-0 .general-section .btn {
    margin: 15px 0;
    padding: 12px 25px;
    text-decoration: none !important;
}

.course-content .course-level-0 .general-section .btn {
    color: #4f4f4f;
}

.course-content .course-level-0 ul.institutes li.section.general-section h3,
.course-content .course-level-0 ul.institutes li.section.general-section h3 a {
    color: #003370;
    display: block;
    font: bold 33px/35px HelveticaNeueUltraLight;
    margin: 5px 0 15px;
    letter-spacing: 1.5px;
}

.course-content .course-level-0 .sections-containter {
    overflow: hidden;
}

.course-content .course-level-0 ul.institutes {
    margin: 0 -2.5% 0 0;
}

.course-content .course-level-0 ul.institutes li.section h3,
.course-content .course-level-0 ul.institutes li.section h3 a {
    color: #fff;
    font: bold 24px/30px HelveticaNeueUltraLight;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/*.course-content .sections-containter{float: left;width: 79%;}*/

.course-content .sections-menu {
    float: right;
    width: 20%;
}

.course-content .sections-menu a.active {
    background-color: #fed130
}

.course-content .sections-menu a {
    display: block;
    padding: 12px 15px;
    text-align: center;
    background-color: #eeefef;
    text-decoration: none;
    margin-bottom: 10px;
    color: #01356e;
    font-size: 11px;
    letter-spacing: 0.4px;
    font-weight: bold;
    line-height: 15px;
}

.course-content .course-level-0 ul.institutes li.section h4 {
    font: 600 26px/30px HelveticaNeueUltraLight;
}

.course-content .course-level-0 ul.institutes li.section h4 span {
    clear: both;
    display: block;
    font: 600 70px/65px HelveticaNeueUltraLight;
    letter-spacing: 5px;
    margin: 0;
    text-align: center;
}

.course-content .course-level-0 ul.institutes li.section {
    list-style: none;
    text-align: left;
    height: 240px;
    background-color: #72ccd2;
    border: 0 none;
    border-radius: 0;
    cursor: pointer;
    float: left;
    margin: 0 2.3% 2% 0;
    padding: 0;
    position: relative;
    width: 47.7%;
    color: #fff;
}

.course-content .course-level-0 ul.institutes li.section.inprogress {
    background-color: #faa634;
}

.course-content .course-level-0 ul.institutes li.section.completed {
    background-color: #c1d82f;
}

.course-content .course-level-0 .section-summary {
    border: 0 none;
    color: #4f4f4f;
    font: 14px/19px HelveticaNeue;
    max-height: 100px;
    overflow: hidden;
    margin: 0;
    width: 75%;
}

.path-course-view .section.institutes-view .summary {
    font: 14px/21px HelveticaNeue;
}

.section-progress-box {
    left: 60%;
    margin-left: 15px;
    margin-top: 7px;
    position: absolute;
    top: 0;
}

.section-progress-box label {
    color: #58595b;
    font: 10px HelveticaNeue;
    margin-bottom: 2px;
    text-transform: uppercase;
    cursor: default;
}

.section-progress-box .section-progress {
    background-color: #eeefef;
    border-radius: 3px;
    height: 10px;
    position: relative;
    width: 170px;
}

.section-progress-box .section-progress-percentage {
    background-color: #ffd200;
    border-radius: 3px;
    height: 10px;
}

.section-progress-box.completed .section-progress-percentage {
    background-color: #49ae1f;
}

.section-progress-box.notstarted .section-progress {
    background-color: #72ccd2;
}

.institutes .section-completion-status {
    position: absolute;
    text-align: left;
    width: 100%;
    left: 0;
    bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font: bold 14px Arial;
    padding: 0 25px;
}

.institutes .section-completion-status label {
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 15px;
    letter-spacing: 1.5px;
    font: bold 14px Arial;
    margin-right: 5px;
}

.course-content .course-level-0 ul.institutes li.section .content {
    margin: 5px 25px;
}

#page-content .course-content .course-level-0 ul.institutes li.section .left {
    padding-top: 5px;
}

.course-content .course-level-0 ul.institutes li.section .left,
.course-content .course-level-0 ul.institutes li.section .right {
    width: 40px;
    padding: 0 6px;
}

.course-content .course-level-0 ul.institutes li.section .right img.icon {
    padding: 0 0 4px 0;
}

.course-content .course-level-0 ul.institutes li.section .left {
    padding-top: 22px;
    text-align: right;
}

.jsenabled .course-content .course-level-0 ul.institutes li.section .left,
.jsenabled .course-content .course-level-0 ul.institutes li.section .right {
    width: auto;
}

.course-content .course-level-0 ul.institutes li.section .left .section-handle img.icon {
    padding: 0;
    vertical-align: baseline;
}

.course-content .course-level-0 ul.institutes li.section .section_action_menu .textmenu,
.course-content .course-level-0 ul.institutes li.section .section_action_menu .menu-action-text {
    white-space: nowrap;
}

.course-content .course-level-0 .section-level-0 .content .summary {
    display: none;
}

.course-content .course-level-1 .section.main-section .content h3.sectionname {
    display: inline-block;
    font: 27px/30px Helvetica;
    margin-bottom: 10px;
}

.course-content .course-level-1 .section.main-section.section-level-0 .content h4.sectionid {
    margin-bottom: 10px;
}

.course-content .inner-section-box {
    margin-left: 0;
}

.course-content .inner-section-box .section.section-level-1 {
    background-color: #72ccd2;
    border: 0;
    margin-bottom: 2%;
}

.course-content .inner-section-box .section.section-level-1.inprogress {
    background-color: #faa634;
}

.course-content .inner-section-box .section.section-level-1.completed {
    background-color: #c1d82f;
}

.course-content .inner-section-box .section.section-level-1 .content {
    padding: 15px 20px;
}

.course-content .inner-section-box .section.section-level-1 .content .sectionname {
    color: #fff;
    float: left;
    font: bold 20px/28px HelveticaNeueUltraLight, sans-serif;
    letter-spacing: 1px;
    margin: 0;
    padding-top: 4px;
    position: relative;
    width: 40%;
}

.course-content .inner-section-box .section.section-level-1 .content .sectionname a {
    color: #fff;
}

.course-content .inner-section-box .section.section-level-1 .content .summary {
    color: #fff;
    font: 14px/20px HelveticaNeue;
    margin-top: 5px;
    display: none;
}

.course-content .inner-section-box .section.section-level-1.current .content .summary {
    display: block;
    margin: 0;
}

.course-content .inner-section-box .section.section-level-1 .content ul.inner-sections li {
    float: left;
    margin: 0 2% 2% 0;
    position: relative;
    width: 23%;
}

.course-content .institutes .inner-section-box .section.section-level-1.current .content ul.inner-sections {
    display: block;
}

.course-content .institutes li.section.section-level-1 ul.inner-sections {
    list-style: outside none none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.course-content .institutes li.section.section-level-1 ul.inner-sections li a {
    font: 600 11px/16px HelveticaNeue;
    letter-spacing: 0;
}

.course-content .institutes li.section.section-level-1 ul.inner-sections li a i {
    margin-right: 5px;
}

.course-content .institutes li.section.section-level-1 ul.inner-sections li a:hover {
    background-color: transparent;
}

.course-content .course-level-3 {
    padding: 0;
}

.course-content .course-level-3 .section.section-level-2.sectiontype-modules {
    border-top: 1px solid #ccc;
}

.course-content .course-level-3 .institutes .section.section-level-2.sectiontype-modules + li.section-level-1 {
    margin-top: 20px;
}

.course-content .institutes .section.section-level-2.sectiontype-modules:last-child {
    border-bottom: 1px solid #ccc;
}

.course-content .institutes .section.section-level-2 .content {
    padding: 20px 0 15px;
}

.editing .course-content .institutes .section.section-level-2 .content {
    padding: 0;
}

.course-content .institutes .section .content .section-name-box {
    float: left;
    width: 37%;
    padding-right: 2%;
}

.course-content .institutes .section .content .section-modules-box {
    float: left;
    width: 38%;
}

.course-content .course-level-3 .institutes .section-level-2 .section-name-box .smodule-title {
    font: bold 13px/21px HelveticaNeue;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}

.course-content .course-level-3 .section-level-2 .section-name-box.section-transcript .smodule-title {
    margin-bottom: 10px;
}

.course-content .course-level-3 .section-level-2 .section-name-box h4 {
    font: 14px/21px HelveticaNeue;
    letter-spacing: 0.5px;
    margin: 0 0 3px;
}

.course-content .section-level-2 .section-modules-box ul.section {
    margin: 0;
    padding: 0;
}

.course-content .section-level-2 .section-modules-box ul.section li.activity,
.course-content .section-modules-box ul.section li.activity .activity-box {
    padding: 0 0 5px;
}

.course-content .section-level-2 .section-modules-box ul.section li.activity .completion-buttons {
    float: left;
}

.course-content .section-level-2 .section-modules-box ul.section li.activity .activityname-box {
    display: none;
}

.course-content .section-level-2 .section-modules-box ul.section li.activity .activity-buttons {
    float: left;
    width: 160px;
    min-height: 38px;
}

.course-content .section-level-2 .section-modules-box ul.section li.activity .activity-buttons .btn {
    padding: 10px 0;
    width: 140px;
    color: #4f4f4f;
    background-color: rgba(250, 210, 0, 1);
    letter-spacing: 1.5px;
    margin: 0;
    font: 600 11px/16px HelveticaNeue;
}

.course-content .section-level-2 .section-modules-box ul.section li.activity .activity-buttons .btn:hover {
    background-color: rgba(250, 210, 0, 0.8);
}

.course-content .section-level-2 .section-modules-box ul.section li.activity .activity-buttons .btn .take-exam {
    display: none;
}

.course-content .section-level-2 .section-modules-box .completion-actions-box .completion-actions-icon {
    display: block;
    float: left;
}

.course-content .section-level-2 .section-modules-box .completion-actions-box .completion-actions-text {
    display: block;
    float: left;
    font: italic 13px/35px HelveticaNeue;
    height: 38px;
    letter-spacing: 0.4px;
    padding: 0 15px;
    text-align: left;
}

.course-content .section.section-level-2 .content .section-audio-box {
    float: right;
    width: 23%;
}

.course-content .section.section-level-2 .content .section-audio-box .course-section-audio {
    color: #5d8cbf;
    display: block;
    font: bold 13px/17px HelveticaNeue;
    height: 38px;
    letter-spacing: 1px;
    padding: 0 0 0 50px;
    position: relative;
    text-transform: uppercase;
    width: 150px;
    text-align: left;
}

.course-content .section.section-level-2 .content .section-audio-box .course-section-audio .audio-icon {
    display: inline-block;
    height: 38px;
    left: 0;
    position: absolute;
    top: 0;
    width: 38px;
    background: transparent url([[pix:theme|icon-audio]]) no-repeat scroll 50% 50% / contain;
}

.course-content .course-level-3 .exams-view .section.section-level-2.sectiontype-modules {
    border-top: 0;
}

.course-content .course-level-3 .exams-view .section.section-level-2.sectiontype-modules {
    border-bottom: 1px solid #ccc;
}

.course-content .course-level-3 .exams-view .section-level-2 .section-name-box h4 {
    font: 14px/38px HelveticaNeue;
    margin: 0;
    text-transform: none;
}

.course-content .exams-view .section.section-level-2 .content .section-audio-box {
    display: none;
}

.course-content .exams-view .section.section-level-2 .content .section-name-box {
    width: 45%;
}

.course-content .exams-view .section.section-level-2 .content .section-modules-box {
    width: 54%;
}

.course-content .exams-view .section-level-2 .section-modules-box ul.section li.activity .activity-buttons {
    width: 200px;
}

.course-content .exams-view .section-level-2 .section-modules-box ul.section li.activity .activity-buttons .btn .take-exam {
    display: block;
}

.course-content .exams-view .section-level-2 .section-modules-box ul.section li.activity .activity-buttons .btn .take-quiz {
    display: none;
}

.course-content .section.section-level-2 .content .section-name-box ul.section {
    margin: 0;
}

.path-site .section-name-box ul.section li.activity > div.activity-box,
.path-course-view .section-name-box ul.section li.activity>div.activity-box {
    padding: 0 0 10px;
}

.section-name-box ul.section .label .mod-indent-outer {
    padding-left: 0;
}

.section-name-box ul.section .activity-buttons,
.section-name-box ul.section .completion-buttons {
    display: none;
}

.section-name-box ul.section .label .contentwithoutlink,
.section-name-box ul.section .label .activityinstance {
    padding-right: 0;
}

.section-name-box ul.section .activity.modtype_label.label {
    padding: 0;
}


/* modules sections styles */

.course-content .sectiontype-modules {
    border-top: 1px solid #ccc;
}

.course-content .sectiontype-modules:last-child {
    border-bottom: 1px solid #ccc;
}

.course-content .sectiontype-modules .content {
    padding: 20px 0 15px;
}

.editing .course-content .section.sectiontype-modules .content {
    padding: 0;
}

.course-content .section.sectiontype-modules .section-name-box .smodule-title {
    font: bold 13px/21px HelveticaNeue;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
    margin-top: 8px;
}

.course-content .section.sectiontype-modules .section-name-box.section-transcript .smodule-title {
    margin-bottom: 10px;
}

.course-content .section.sectiontype-modules .section-name-box h4 {
    font: 14px/21px HelveticaNeue;
    letter-spacing: 0.5px;
    margin: 0 0 3px;
}

.course-content .section.sectiontype-modules .section-modules-box ul.section {
    margin: 0;
    padding: 0;
}

.course-content .section.sectiontype-modules .section-modules-box ul.section li.activity,
.course-content .section-modules-box ul.section li.activity .activity-box {
    padding: 0 0 5px;
}

.course-content .inner-sections .sectiontype-modules .section .activity-box {
    padding: 0 !important;
}

.course-content .section.sectiontype-modules .section-modules-box ul.section li.activity .completion-buttons {
    float: left;
    height: auto;
    display: block;
    width: auto;
}

.course-content .section.sectiontype-modules .section-modules-box ul.section li.activity .activityname-box {
    display: none;
}

.course-content .section.sectiontype-modules .section-modules-box ul.section li.activity .activity-buttons {
    float: left;
    width: 160px;
    min-height: 38px;
    height: auto;
}

.course-content .section.sectiontype-modules .section-modules-box ul.section li.activity .activity-buttons .btn {
    padding: 10px 0;
    width: 140px;
    color: #4f4f4f;
    background-color: rgba(250, 210, 0, 1);
    letter-spacing: 1.5px;
    margin: 0;
    font: 600 11px/16px HelveticaNeue;
}

.course-content .section.sectiontype-modules .section-modules-box ul.section li.activity .activity-buttons .btn:hover {
    background-color: rgba(250, 210, 0, 0.8);
}

.course-content .section.sectiontype-modules .section-modules-box ul.section li.activity .activity-buttons .btn .take-exam {
    display: none;
}

.course-content .section.sectiontype-modules .section-modules-box .completion-actions-box .completion-actions-icon {
    display: block;
    float: left;
}

.course-content .section.sectiontype-modules .section-modules-box .completion-actions-box .completion-actions-text {
    display: block;
    float: left;
    font: italic 13px/35px HelveticaNeue;
    height: 38px;
    letter-spacing: 0.4px;
    padding: 0 15px;
    text-align: left;
    width: auto;
    text-transform: none;
    margin-bottom: 0;
}

.course-content .section.sectiontype-modules .section-modules-box .completion-actions-box.manual.notcompleted .completion-actions-text {
    color: #72ccd2;
}

.course-content .section.sectiontype-modules .section-modules-box .completion-actions-box.manual.completed .completion-actions-text {
    color: #c1d82f;
}

.course-content .section.sectiontype-modules .content .section-audio-box {
    float: right;
    width: 23%;
}

.course-content .section.sectiontype-modules .content .section-audio-box .course-section-audio {
    color: #5d8cbf;
    display: block;
    font: bold 13px/17px HelveticaNeue;
    height: 38px;
    letter-spacing: 1px;
    padding: 0 0 0 50px;
    position: relative;
    text-transform: uppercase;
    width: 150px;
    text-align: left;
}

.course-content .section.sectiontype-modules .content .section-audio-box .course-section-audio .audio-icon {
    display: inline-block;
    height: 36px;
    left: 0;
    position: absolute;
    top: 0;
    width: 36px;
    background: transparent url([[pix:theme|icon-audio]]) no-repeat scroll 50% 50% / contain;
}

.course-content .course-level-3 .sectiontype-heading .sectiontype-modules .content {
    padding: 20px 0 15px;
}

.course-content .section-level-3.sectiontype-modules span.hidden.sectionname {
    display: none;
}

.sectiontype-heading.section-transcript .activities-box li .activityname-box {
    width: 45%;
}

.sectiontype-heading.section-transcript .activities-box li .activity-buttons {
    margin-right: 5%;
}


/* resourceslinks sections styles */

.course-content .sectiontype-resourceslinks {
    border-top: 1px solid #aaa !important;
}

.editing .course-content .sectiontype-resourceslinks {
    border-top: 0 !important;
}

.course-content .sectiontype-resourceslinks .content {
    padding: 20px 0 15px;
}

.editing .course-content .section.sectiontype-resourceslinks .content {
    padding: 0;
}

.course-content .section.sectiontype-resourceslinks .section-name-box .smodule-title {
    font: 14px/21px HelveticaNeue;
    letter-spacing: 0;
    margin-top: 8px;
}

.course-content .section.sectiontype-resourceslinks .section-name-box.section-transcript .smodule-title {
    margin-bottom: 10px;
}

.course-content .section.sectiontype-resourceslinks .section-name-box h4 {
    font: 14px/21px HelveticaNeue;
    letter-spacing: 0.5px;
    margin: 0 0 3px;
}

.course-content .section.sectiontype-resourceslinks .section-modules-box ul.section {
    margin: 0;
    padding: 0;
}

.course-content .section.sectiontype-resourceslinks .section-modules-box ul.section li.activity {
    padding: 0 0 5px;
}

.course-content .section.sectiontype-resourceslinks .section-modules-box ul.section li.activity .completion-buttons {
    float: left;
    height: auto;
    display: block;
    width: auto;
}

.course-content .section.sectiontype-resourceslinks .section-modules-box ul.section li.activity .activityname-box {
    display: none;
}

.course-content .section.sectiontype-resourceslinks .section-modules-box ul.section li.activity .activity-buttons {
    float: left;
    width: 160px;
    min-height: 38px;
    height: auto;
    text-align: left;
    padding: 0;
}

.course-content .section.sectiontype-resourceslinks .section-modules-box ul.section li.activity .activity-buttons .btn {
    padding: 10px 0;
    width: 140px;
    color: #5d8cbf;
    background-color: rgba(255, 255, 255, 1);
    letter-spacing: 1.5px;
    margin: 0;
    font: 600 11px/16px HelveticaNeue;
    border: 1px solid #5d8cbf;
}

.course-content .section.sectiontype-resourceslinks .section-modules-box ul.section li.activity .activity-buttons .btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.course-content .section.sectiontype-resourceslinks .section-modules-box ul.section li.activity .activity-buttons .btn .take-exam {
    display: none;
}

.course-content .section.sectiontype-resourceslinks .section-modules-box .completion-actions-box .completion-actions-icon {
    display: block;
    float: left;
}

.course-content .section.sectiontype-resourceslinks .section-modules-box .completion-actions-box .completion-actions-text {
    display: block;
    float: left;
    font: italic 13px/35px HelveticaNeue;
    height: 38px;
    letter-spacing: 0.4px;
    padding: 0 15px;
    text-align: left;
    width: auto;
    text-transform: none;
    margin-bottom: 0;
}

.course-content .section.sectiontype-resourceslinks .section-modules-box .completion-actions-box.manual.notcompleted .completion-actions-text {
    color: #72ccd2;
}

.course-content .section.sectiontype-resourceslinks .section-modules-box .completion-actions-box.manual.completed .completion-actions-text {
    color: #c1d82f;
}

.course-content .section.sectiontype-resourceslinks .content .section-audio-box {
    float: right;
    width: 23%;
}

.course-content .section.sectiontype-resourceslinks .content .section-audio-box .course-section-audio {
    color: #5d8cbf;
    display: block;
    font: bold 13px/17px HelveticaNeue;
    height: 38px;
    letter-spacing: 1px;
    padding: 0 0 0 50px;
    position: relative;
    text-transform: uppercase;
    width: 150px;
    text-align: left;
}

.course-content .section.sectiontype-resourceslinks .content .section-audio-box .course-section-audio .audio-icon {
    display: inline-block;
    height: 36px;
    left: 0;
    position: absolute;
    top: 0;
    width: 36px;
    background: transparent url([[pix:theme|icon-audio]]) no-repeat scroll 50% 50% / contain;
}

.course-content .course-level-3 .sectiontype-heading .sectiontype-resourceslinks .content {
    padding: 20px 0 15px;
}

.course-content .section-level-3.sectiontype-resourceslinks span.hidden.sectionname {
    display: none;
}

.course-content .section-level-3.sectiontype-resourceslinks ul.section li.activity,
.course-content .section-level-3.sectiontype-resourceslinks ul.section li.activity:nth-child(n) {
    background-color: #fff;
}

.section-modules-box .btn.btn-activities {
    padding: 10px 0;
    width: 140px;
    color: #5d8cbf;
    border: 1px solid #5d8cbf;
    background-color: rgba(255, 255, 255, 1);
    letter-spacing: 1.5px;
    margin: 0;
    font: 600 11px/16px HelveticaNeue;
    margin-bottom: 10px;
}

.editing .course-content ul li.section.main {
    padding: 15px !important;
    margin-bottom: 15px;
    border: 1px solid #ccc !important;
}

.editing .moodle-actionmenu[data-enhanced].show .menu.align-tr-br {
    min-width: 120px;
}

.editing .reduce-sections {
    display: none;
}


/*.editing .course-content ul li.section.section-level-1 {margin-left: 20px;}
.editing .course-content ul li.section.section-level-2 {margin-left: 40px;}
.editing .course-content ul li.section.section-level-3 {margin-left: 60px;}*/

.editing .course-content .section-level-3 ul.section .activity .mod-indent-outer {
    float: none;
    padding-left: 32px;
    width: auto;
}

.editing .course-content .section-level-3 ul.section li.activity {
    border-top: 1px solid #e7e7e7;
    padding: 7px;
}

.editing .course-content #section-0 ul.section li.activity {
    border-top: 1px solid #e7e7e7;
    padding: 7px;
}

.editing .course-content .section-level-3 ul.section li:last-child {
    border-bottom: 1px solid #e7e7e7;
}

.editing .activity img.activityicon {
    margin-bottom: -3px;
}

.editing .course-content .section .activity .editing_move {
    left: 10px;
    top: 5px;
}

.editing .course-content .section#section-0 .activity .editing_move {
    top: 10px;
}

.editing .section .activity .actions {
    top: 5px;
}

.editing .section-modchooser {
    margin-top: 10px;
    margin-bottom: 10px;
}

.editing .section-modchooser-link img.smallicon {
    margin-top: -3px;
}

.editing .course-content .section-level-0 .sectionname {
    border-bottom: 1px solid #eee;
    margin: 10px 0px 10px 0;
}

.editing .section .side.right {
    margin-top: -7px;
}

.editing .course-content ul .section.main .left-side {
    font-size: 22px;
    position: absolute;
    text-align: center;
}

.editing .course-content ul .section.main .left-side .section-move {
    display: inline-block;
    height: 22px;
    margin-right: 3px;
}

.editing .course-content .section.section-level-2.institutes-view .content {
    padding: 0;
}

.editing .course-content ul li.section.main#section-1 .left-side .section-move.move-up {
    display: none;
}

.editing .course-content ul li.section.main:last-child .left-side .section-move.move-down {
    display: none;
}

.course-content-header h2.section-title {
    margin: 15px 0 0;
}

.course-content-header .section-summary {
    width: 60%;
}

.course-content-header .section-menu {
    display: table;
    margin: 0;
    width: 100%;
    padding: 15px 0px;
}

.course-content-header .section-menu .menu-item {
    display: table-cell;
    position: relative;
}

.course-content-header .section-menu .menu-item a {
    color: #003370;
    font-size: 14px;
    background-color: #bfd5ef;
    padding: 6px 6px 6px 35px;
    display: block;
    margin-right: 4px;
}

.course-content-header .section-menu .menu-item:last-child a {
    margin-right: 0;
}

.course-content-header .section-menu .menu-item.active a {
    font-weight: 600;
    background-color: #003370;
}

.course-content-header .section-menu .menu-item a i {
    left: 17px;
    position: absolute;
}

.course-content-header .section-menu .menu-item a:hover {
    color: #333;
}

.course-content-header .section-menu .section-modules {
    display: none;
    background-color: #bfd5ef;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    margin-left: -25px;
    z-index: 1;
    list-style: none;
}

.course-content-header .section-menu .menu-item.open .section-modules {
    display: block;
}

.course-content-header .section-menu .section-modules .activity-item {
    border-bottom: 1px solid #fff;
    margin: 0 15px;
    padding: 5px 1px;
}

.course-content-header .section-menu .menu-item.active .section-modules .activity-item a {
    font-weight: normal;
}

.course-content-header .section-menu .menu-item .section-modules .activity-item.active a {
    font-weight: 600;
}

.course-content-header .section-menu .section-modules .activity-item:last-child {
    border-bottom: 0;
}

.course-content-header .section-menu .section-modules .activity-item a {
    display: block;
    font-size: 12px;
}

.course-content-header .section-menu .section-modules .activity-item a:hover {
    color: #333;
}

.course-content-header .section-menu .menu-item .section-menu-toggler {
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 9px;
    cursor: pointer;
}

.course-content-header .section-menu .menu-item.active .section-menu-toggler {
    color: #003370;
}

.course-content-header .section-menu .menu-item.active.completed .section-menu-toggler {
    color: #7f99b7;
}

.course-content-header .section-menu .menu-item.open .section-menu-toggler {
    color: #003370;
    transform: rotate(90deg);
}

.course-content-header .section-menu .menu-item.open.completed .section-menu-toggler {
    color: #7f99b7;
}

.course-content ul.institutes {
    padding: 0;
    margin: 0;
    position: relative;
}

.course-content ul li.section.main {
    list-style: none;
}

.course-content .course-level-3 .single-section {
    margin-top: 0;
}

.course-content .course-level-3 .section.current {
    background-color: transparent;
}

.course-content ul li.section.main.section-level-3 {
    border: 0;
}

.course-content .course-level-3 .section-level-0 {
    background-color: transparent;
}

.course-content .course-level-3 .section-level-0 .content h3 {
    color: #003370;
    display: block;
    font: bold 31px/33px HelveticaNeueUltraLight;
    letter-spacing: 1.5px;
    margin: 0 0 5px;
}

.course-content .course-level-3 .sectiontype-heading .content {
    padding: 0;
}

.course-content .course-level-3 .sectiontype-heading .content h3 {
    font-size: 21px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

.course-content .institutes.exams-view li.section.main.sectiontype-heading {
    border-top: 1px solid #aaa;
    margin: 10px 0 0;
    padding-top: 25px;
    padding-bottom: 20px;
}

.course-content .institutes.exams-view li.section.main.sectiontype-heading:last-child {
    border-bottom: 1px solid #aaa;
    margin: 0;
}

.institutes.exams-view .sectiontype-heading p {
    margin-bottom: 7px;
}

.course-content li.section.sectiontype-heading .content .summary {
    margin-bottom: 20px;
}

.course-content li.section.sectiontype-heading .inner-sections .content .summary {
    margin-bottom: 0px;
}

.sections-anchors-list {
    list-style: outside none none;
    margin: 5px 0 0;
    padding: 0 0 10px;
    display: none;
}

.sections-anchors-list li {
    font-size: 14px;
    font-weight: bold;
    padding: 2px 0;
}

.sections-anchors-list li a {
    color: #5d8cbf;
}

.sections-anchors-list li a:hover {
    color: #0090d9;
}

.course-content .course-level-3 ul li.section.main.sectiontype-segment .segment-title {
    font: bold 14px/21px HelveticaNeue;
    letter-spacing: 1.5px;
    margin: 0;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
}

.segment-title.segment-heading,
.course-content .course-level-3 ul li.section.main.sectiontype-segment .segment-title.segment-heading {
    display: none;
}

.course-content .course-level-3 ul li.section.main.sectiontype-segment .segment-section-modules-box,
.course-content .course-level-3 ul li.section.main.sectiontype-segment .segment-sections-box {
    display: none;
}

.course-content .course-level-3 ul li.section.main.sectiontype-segment.open .segment-section-modules-box,
.course-content .course-level-3 ul li.section.main.sectiontype-segment.open .segment-sections-box {
    display: block;
}

.course-content .course-level-3 ul li.section.main.sectiontype-segment .segment-toggler {
    display: inline-block;
    width: 15px;
}

.course-content .course-level-3 ul li.section.main.sectiontype-segment .segment-toggler .show {
    display: block;
}

.course-content .course-level-3 ul li.section.main.sectiontype-segment.open .segment-toggler .show {
    display: none;
}

.course-content .course-level-3 ul li.section.main.sectiontype-segment .segment-toggler .hide {
    display: none;
}

.course-content .course-level-3 ul li.section.main.sectiontype-segment.open .segment-toggler .hide {
    display: block;
}

.path-site li.section.main.sectiontype-segment li.activity > div.activity-box,
.path-course-view li.section.main.sectiontype-segment li.activity > div.activity-box {
    padding: 0;
}

.sectiontype-segment {
    margin: 20px 0;
}

.sectiontype-segment .segment-section-modules-box li.activity .activityname-box {
    float: left;
    padding-right: 2%;
    width: 45%;
}

.sectiontype-segment .segment-section-modules-box li.activity .activity-buttons {
    float: left;
    min-height: 38px;
    width: 160px;
    margin-right: 5%;
}

.sectiontype-segment .segment-section-modules-box li.activity .completion-buttons {
    float: left;
}

.sectiontype-segment .segment-section-modules-box li.activity .completion-actions-box .completion-actions-icon {
    float: left;
    display: block;
}

.sectiontype-segment .segment-section-modules-box li.activity .completion-actions-box .completion-actions-text {
    display: block;
    float: left;
    font: italic 13px/35px HelveticaNeue;
    height: 38px;
    letter-spacing: 0.4px;
    padding: 0 15px;
    text-align: left;
}

.sectiontype-segment .segment-section-modules-box .activity .activityinstance,
.sectiontype-segment .segment-section-modules-box .activity .activityinstance .instancename {
    color: #58595b;
    font: 14px/36px HelveticaNeue;
}

.sectiontype-segment .segment-section-modules-box .activity .activityinstance .instancename:hover {
    color: #333;
}

.sectiontype-segment .segment-section-modules-box .activity .activityinstance img.activityicon,
.sectiontype-segment .segment-section-modules-box .activity .activityinstance div img.activityicon {
    display: none;
}

.sectiontype-segment .segment-section-modules-box ul.section li.activity .activity-buttons .btn,
.sectiontype-segment .segment-section-modules-box ul.section li.activity .activity-buttons .btn {
    color: #4f4f4f;
    padding: 10px 0;
    width: 140px;
    background-color: rgba(250, 210, 0, 1);
    font: bold 11px/16px HelveticaNeue;
    letter-spacing: 1.5px;
    margin: 0;
}

.sectiontype-segment .segment-section-modules-box ul.section li.activity .activity-buttons .btn:hover {
    background-color: rgba(250, 210, 0, 0.8);
}

.modules-view .sectiontype-segment .segment-section-modules-box ul.section li.activity .activity-buttons .btn .take-exam {
    display: none;
}

.exams-view .sectiontype-segment .segment-section-modules-box ul.section li.activity .activity-buttons .btn .take-quiz {
    display: none;
}

.segment-section-modules-box .section li.activity {
    margin: 10px 0;
    padding: 0;
}

.course-content .sectiontype-segment .content {
    padding-top: 0;
}

.course-content li.section.section-level-1 ul.inner-sections .segment-section-modules-box li .activityinstance a {
    text-transform: none;
    text-align: left;
    font: 14px/38px HelveticaNeue;
    color: #58595b;
    padding: 0;
    display: inline-block;
    width: auto;
    margin: 0;
}

.course-content li.section.section-level-1.sectiontype-segment ul.inner-sections li a:hover {
    background-color: transparent;
}

.course-content li.section.section-level-1 ul.inner-sections .segment-section-modules-box li .completion-buttons a.completion-actions-text {
    display: block;
    float: left;
    font: italic 13px/35px HelveticaNeue;
    height: 38px;
    letter-spacing: 0.4px;
    padding: 0 15px;
    text-align: left;
    text-transform: none;
    width: auto;
    color: #72ccd2;
    margin: 0;
}

.course-content li.section ul.segment-sections-box {
    list-style: none;
    padding: 0;
    margin: 1em;
}

.segment-sections-box li.segment-sections-item {
    margin: 10px 0;
    padding: 0;
}

.segment-sections-box li.segment-sections-item .segment-sections-link {
    float: left;
    padding-right: 2%;
    width: 45%;
}

.segment-sections-box {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.segment-sections-box li.segment-sections-item .segment-sections-link a,
.course-content li.section.section-level-1 ul.inner-sections .segment-sections-box li.segment-sections-item .segment-sections-link a {
    color: #58595b;
    font: 14px/38px HelveticaNeue;
    text-align: left;
    padding: 0;
    text-transform: none;
    margin: 0;
    display: inline-block;
}

.segment-sections-box li.segment-sections-item .segment-sections-btnlink {
    float: left;
    min-height: 38px;
    width: 160px;
    margin-right: 5%;
}

.course-content li.section.section-level-1 ul.inner-sections li .segment-sections-btnlink .btn,
.segment-sections-box li.segment-sections-item .segment-sections-btnlink .btn {
    color: #4f4f4f;
    font: bold 11px/16px HelveticaNeue;
    letter-spacing: 1.5px;
    padding: 10px 0;
    width: 140px;
    background-color: rgba(250, 210, 0, 1);
    margin: 0;
}

.course-content li.section.section-level-1 ul.inner-sections li .segment-sections-btnlink .btn:hover,
.segment-sections-box li.segment-sections-item .segment-sections-btnlink .btn:hover {
    background-color: rgba(250, 210, 0, 0.8);
}

.course-content li.section.section-level-1 ul.inner-sections li .segment-sections-btnlink .btn {
    padding: 9px 0;
    background-color: rgba(250, 210, 0, 1);
}

.course-content li.section.section-level-1 ul.inner-sections li .segment-sections-btnlink .btn:hover {
    background-color: rgba(250, 210, 0, 0.8);
}

.segment-sections-box li.segment-sections-item .completion-actions-box {
    float: left;
}

.segment-sections-box li.segment-sections-item .completion-actions-box .completion-actions-icon {
    float: left;
    display: block;
}

.segment-sections-box li.segment-sections-item .completion-actions-box .completion-actions-text {
    display: block;
    float: left;
    font: italic 13px/35px HelveticaNeue;
    height: 38px;
    letter-spacing: 0.4px;
    padding: 0 15px;
    text-align: left;
}

.course-content .inner-sectionname {
    border-bottom: 1px solid #aaa;
}

.course-content .inner-sectionname .sectionname {
    margin-bottom: 15px;
    padding-top: 10px;
    width: 60%;
}

.course-content .inner-sections {
    padding: 0;
    margin: 0;
}

.segment-section-modules-box.activities-box ul.section {
    margin: 1em 0 1.5em;
}

.path-site .segment-section-modules-box.activities-box li.activity > div.activity-box,
.path-course-view .segment-section-modules-box.activities-box li.activity > div.activity-box {
    padding: 0;
}

.activities-box li .activityname-box {
    float: left;
    padding-right: 2%;
    width: 37%;
}

.activities-box li .activityinstance a {
    text-transform: none;
    text-align: left;
    font: 14px/19px HelveticaNeue;
    color: #58595b;
    padding: 0;
    display: inline-block;
    width: auto;
    margin: 8px 0 0 0;
}

.activities-box li .activity-buttons {
    float: left;
    min-height: 38px;
    width: 160px;
}

.activities-box li .activity-buttons .btn {
    margin: 0;
    padding: 10px 0;
    width: 140px;
    color: #4f4f4f;
    letter-spacing: 1.5px;
    font: 600 11px/16px HelveticaNeue;
}

.activities-box li .completion-buttons {
    float: left;
}

.activities-box .activityinstance img.activityicon,
.activities-box .activityinstance div img.activityicon {
    display: none;
}

.modules-view .activities-box ul.section li.activity .activity-buttons .btn .take-exam {
    display: none;
}

.exams-view .activities-box ul.section li.activity .activity-buttons .btn .take-quiz {
    display: none;
}

.activities-box li .completion-buttons .completion-actions-box .completion-actions-icon {
    display: block;
    float: left;
}

.activities-box li .completion-buttons .completion-actions-box .completion-actions-text {
    display: block;
    float: left;
    font: italic 13px/35px HelveticaNeue;
    height: 38px;
    letter-spacing: 0.4px;
    padding: 0 15px;
    text-align: left;
}

.course-content li.section ul.inner-sections li .activity-buttons a.btn {
    font: 600 11px/16px HelveticaNeue;
}

.course-content .course-level-3 ul li.section.main.sectiontype-modules,
.course-content .section.sectiontype-modules {
    border-top: 1px solid #aaa;
}

.course-content .course-level-3 ul li.section.main.section-level-0.sectiontype-modules,
.course-content .section.section-level-0.sectiontype-modules {
    border-top: 0;
}

.editing .course-content .course-level-3 ul li.section.main.sectiontype-modules,
.editing .course-content .section.sectiontype-modules {
    border-top: 0;
}

.course-content .section.sectiontype-modules:first-child {
    margin-top: -1px;
}

.course-content .course-level-3 ul li.section.main.sectiontype-modules:last-child,
.course-content .section.sectiontype-modules:last-child {
    border-bottom: 1px solid #aaa;
}

.course-content .course-level-3 ul li.section.main {
    border: 0;
}

.course-content .course-level-3 ul li.section.main.section-level-0 h3 {
    width: 60%;
}

.course-content .course-level-3 .section-level-0 .summary {
    display: none;
}

.course-content .section-level-3 ul.section .mod-text p {
    margin-top: 0;
}

.course-content .section-level-3 ul.section {
    margin: 0;
}

.course-content .section-level-3 ul.section li.activity {
    display: table;
    margin: 0;
    padding: 15px;
    width: 100%;
}

.course-content .section-level-3 ul.section li.activity:nth-child(n) {
    background-color: #eeefef;
}

.course-content .section-level-3 ul.section li.activity:nth-child(2n) {
    background-color: #f7f8f8;
}

.course-content .section-level-3 ul.section .activity .mod-indent-outer.activityname-box {
    display: table-cell;
    padding-left: 0;
    vertical-align: top;
    width: 46%;
}

.course-content .section-level-3 ul.section .activity .activityinstance > a {
    color: #555;
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
}

.course-content .section-level-3 ul.section .activity .activityinstance > a:hover {
    color: #333;
}

.course-content .section-level-3 ul.section .activity .activityinstance > a .activityicon {
    display: none;
}

.course-content .section-level-3 .section .activity .contentwithoutlink,
.course-content .section-level-3 .section .activity .activityinstance {
    line-height: 19px;
    line-height: 21px;
    vertical-align: middle;
}

.course-content .section-level-3 .section .activity .contentwithoutlink {
    font-size: 14px;
    line-height: 21px;
    min-height: auto;
}

.course-content .section-level-3 .section .activity .activityinstance {
    font-size: 14px;
    line-height: 21px;
    min-height: auto;
}

.course-content .section-level-3 ul.section .activity .activity-buttons {
    display: table-cell;
    padding: 0 2%;
    text-align: left;
    vertical-align: middle;
    width: 30%;
    text-align: center;
    height: 80px;
}

.course-content .section-level-3 ul.section .activity .activity-buttons .btn {
    display: inline-block;
    line-height: 12px;
    padding: 12px;
    text-align: center;
    width: 130px;
    letter-spacing: 2px;
}

.course-content .section-level-3 ul.section .activity .completion-buttons {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 24%;
    height: 80px;
}

.path-site li.activity > div.activity-box,
.path-course-view li.activity > div.activity-box {
    padding: 15px;
}

.course-content .section-level-3 ul.section .activity .activity-box {
    display: table-row;
    padding: 15px;
    position: relative;
}

.completion-buttons .completion-actions-box {
    position: relative;
}

.completion-buttons .completion-actions-box.manual .completion-actions-icon {
    cursor: pointer;
}

.completion-actions-box .completion-actions-icon {
    display: inline-block;
    height: 38px;
    width: 38px;
    position: relative;
}

.completion-actions-box .completion-actions-icon i {
    top: 13px;
    left: 13px;
    position: absolute;
}

.completion-actions-box .completion-actions-text {
    text-align: center;
    font: 13px HelveticaNeue;
    letter-spacing: 0.4px;
    display: block;
}

.completion-actions-box a.completion-actions-text {
    font: 600 13px HelveticaNeue;
    text-decoration: underline;
}

.completion-actions-box.notstarted .completion-actions-icon {
    background: rgba(0, 0, 0, 0) url([[pix:theme|icon-notstarted]]) no-repeat no-repeat 0 0;
}

.completion-actions-box.completed .completion-actions-icon {
    background: rgba(0, 0, 0, 0) url([[pix:theme|icon-completed]]) no-repeat no-repeat 0 0;
}

.completion-actions-box.notcompleted .completion-actions-icon {
    background: rgba(0, 0, 0, 0) url([[pix:theme|icon-notcompleted]]) no-repeat no-repeat 0 0;
}

.completion-actions-box.inprogress .completion-actions-icon {
    background: rgba(0, 0, 0, 0) url([[pix:theme|icon-inprocess]]) no-repeat no-repeat 0 0;
}

.completion-actions-box.manual.notcompleted a.completion-actions-text,
.course-content li.section.section-level-1 ul.inner-sections li .completion-actions-box.manual.notcompleted a.completion-actions-text {
    color: #72ccd2;
}

.completion-actions-box.manual.completed a.completion-actions-text,
.course-content li.section.section-level-1 ul.inner-sections li .completion-actions-box.manual.completed a.completion-actions-text {
    color: #c1d82f;
}


/* activities single page */

.course-content .activities-section-title {
    color: #5d8cbf;
    font: bold 26px/28px HelveticaNeueUltraLight, sans-serif;
    margin-bottom: 0;
    padding-top: 10px;
}

.course-content .activities-section-name {
    font: bold 14px/21px HelveticaNeue;
    letter-spacing: 0.5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}

.course-level-activities .modules-view {
    border-bottom: 0;
}

.course-level-activities .activities-box {
    padding-top: 5px;
    overflow: hidden;
}

.course-level-activities .activities-box ul.section {
    margin-left: -2%;
    margin-right: -3%;
}

.course-level-activities .activities-box ul.section li.activity {
    width: 30%;
    float: left;
    background-color: #72ccd2;
    clear: none;
    display: block;
    height: 180px;
    margin: 0 1.5% 3%;
    overflow: hidden;
    position: relative;
}

.course-level-activities .activities-box ul.section li.activity.completed {
    background-color: #c1d82f;
}

.course-level-activities .activities-box ul.section li.activity.inprogress {
    background-color: #faa634;
}

.course-level-activities .activities-box ul.section li.activity .mod-text .contentafterlink {
    margin: 0 20px !important;
    height: 60px;
    overflow: hidden;
    color: #58595b;
}

.course-level-activities .activities-box li .activityname-box {
    float: none;
    padding-right: 0;
    width: auto;
}

.course-level-activities .activities-box li .activityinstance a {
    color: #fff;
    font: 21px/35px HelveticaNeue;
    text-align: left;
    margin: 10px 0;
    padding: 0 20px;
}

.course-level-activities .activities-box li .activityinstance .instancename {
    color: #fff;
    display: block;
    font: 21px/35px HelveticaNeue;
    height: 30px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    width: 100%;
}

.course-level-activities .activities-box li .activity-buttons {
    bottom: 20px;
    float: none;
    left: 20px;
    min-height: auto;
    position: absolute;
    width: 120px;
}

.course-level-activities .activities-box li .activity-buttons .btn {
    background-color: #fff;
    border: 1px solid #fff;
    color: #4f4f4f;
    font: 600 11px/16px HelveticaNeue;
    letter-spacing: 1.5px;
    margin: 0;
    padding: 4px 0;
    width: 120px;
}

.course-level-activities .activities-box li .activity-buttons .btn:hover {
    color: #333;
}

.course-level-activities .activities-box li .completion-buttons {
    bottom: 20px;
    float: none;
    position: absolute;
    right: 20px;
}

.course-level-activities .activities-box li .completion-buttons .completion-actions-icon {
    border: 1px solid #fff;
}

.course-level-activities .activities-box li .completion-buttons .completion-actions-text {
    display: none;
}

.course-content .movehere-sections {
    display: inline-block;
    margin-bottom: 15px;
}


/*.course-level-activities .activities-box li .completion-buttons .completion-actions-box.auto {display: none;}*/

.section-header-title {
    border-top: 1px solid #aaa;
    margin: 10px 0 0;
    padding: 0 15px;
}

.section-header-title .activityname-box {
    display: block;
    width: 46%;
    float: left;
    color: #003370;
    font: bold 11px HelveticaNeue;
    letter-spacing: 2.3px;
    padding: 10px 0;
    text-transform: uppercase;
}

.section-header-title .activity-buttons {
    color: #003370;
    font: bold 11px HelveticaNeue;
    letter-spacing: 2.3px;
    padding: 10px 2%;
    text-align: center;
    text-transform: uppercase;
    width: 30%;
    display: block;
    float: left;
}

.section-header-title .completion-buttons {
    display: block;
    width: 24%;
    float: left;
    color: #003370;
    font: bold 11px HelveticaNeue;
    letter-spacing: 2.3px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
}

.course-content .course-level-3 .section-navigation.mdl-bottom {
    text-align: right;
    margin: 25px 0 50px;
    padding: 15px 0 0;
    border-top: 1px solid #aaa;
}

.course-content .course-level-3 .section-navigation.mdl-bottom .btn {
    background-color: #ffd200;
    background-image: none;
    border: 1px solid #ffd200;
    border-radius: 0;
    margin: 5px 0 15px 20px;
    padding: 4px 15px 3px;
    width: 100px;
}

.course-content .course-level-3 .section-navigation.mdl-bottom .btn a {
    color: #003370;
    font: 600 10px/16px HelveticaNeue;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: none;
}

.course-content .course-level-3 .section-navigation.mdl-bottom .btn a:hover {
    color: #fff;
}

.course-content .course-level-3 .section-navigation.mdl-bottom .btn a span {
    display: none;
}

.course-content-footer-inner {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin: 15px 0 10px;
    padding: 20px 0;
}

.course-content-footer-inner form.togglecompletion {
    display: inline-block;
}

.course-content-footer-inner form.togglecompletion button {
    margin-left: 0;
}

.course-content-footer-inner button {
    display: inline-block;
    padding: 4px 5px !important;
    width: 150px;
}

.course-content-footer-inner .btn.btn-success.btn-inverse {
    background-color: transparent;
    color: #c1d82f;
    margin-right: 20px;
}

.course-content-footer-inner .btn.btn-warning.btn-inverse {
    background-color: transparent;
    color: #faa634;
    margin-right: 20px;
}

.course-content-footer-inner .btn.status-btn {
    cursor: default;
}

.course-content-footer-navbuttons {
    border-top: 1px solid #aaa;
    margin: 45px 0 50px;
    padding: 15px 0 0;
    text-align: right;
}

.course-content-footer-navbuttons .btn {
    margin-left: 20px;
    color: #003370;
    font: 600 10px/16px HelveticaNeue;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    width: 100px;
    padding: 0;
}

.mod-text .contentafterlink {
    margin: 0 !important;
    font-size: 13px;
    line-height: 19px;
    font-family: HelveticaNeue;
    color: #777;
}

.course-content-footer-navbuttons .btn a {
    color: #003370;
    padding: 4px 15px 3px;
    display: block;
}

.course-content-footer-navbuttons .btn a:hover {
    color: #ffffff;
}

.course-content-footer-navbuttons .btn a span {
    display: none;
}

.mod-text .contentafterlink .no-overflow {
    overflow: initial !important;
}

.course-content-footer-navbuttons.segment-sections-navigation {
    border-top: 0 none;
    margin: 5px 0 50px;
    padding: 15px 0 0;
}

.course-content-footer-navbuttons.segment-sections-navigation .btn.btn-success {
    display: inline-block;
    padding: 0 10px !important;
    margin-right: 20px;
    font: 600 10px/16px HelveticaNeue;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    color: #003370;
    margin-left: 0;
    width: auto;
}

.course-content-footer-navbuttons.segment-sections-navigation .btn.btn-success a {
    color: #003370;
}

#page-mod-quiz-attempt .course-content-footer-navbuttons,
#page-mod-quiz-review .course-content-footer-navbuttons,
#page-mod-quiz-summary .course-content-footer-navbuttons {
    display:none;
}

.segment-back-buttons {
    float: left;
}

h2.activity-heading {
    color: #5d8cbf;
    margin-bottom: 10px;
}

#region-main #intro.generalbox {
    padding: 5px 0;
}

.editing .course-content .section-level-3 span.hidden.sectionname,
.course-content .inner-sections .section.main span.hidden.sectionname{
    display: none;
}

.editing .course-content .content {
    padding-top: 0;
}

.editing .course-content .topic-view .sectionname {
    margin-left: 40px;
}

.editing .course-content .section-level-1.topic-view {
    margin-left: 30px;
}

.editing .course-content .section-level-2.topic-view {
    margin-left: 60px;
}

.editing .course-content .section-level-3.topic-view {
    margin-left: 90px;
}

.editing .course-content ul li.section.main.section-level-3.topic-view {
    border: 1px solid #ccc;
    padding: 15px !important;
}

.editing .course-content ul li.section.main.ismoving {
    background-color: #f5f5f5;
    opacity: 0.7;
}

.resources-box ul {
    position: relative;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.resources-box ul li {
    margin: 15px 0;
    position: relative;
}

.resources-box ul li.category {
    border-top: 1px solid #bcbcbd;
    margin-top: 25px;
    padding-top: 20px;
}

.resources-box ul li.category:first-child {
    margin-top: 0;
}

.resources-box ul li.placeholder {
    background-color: #e7e7e7;
    height: 10px;
}

.resources-box ul li.not-active {
    opacity: 0.5;
}

.resources-box ul li.not-active.active {
    opacity: 1;
}

.resources-box ul li.category.not-active {
    opacity: 1;
}

.resources-box ul li.category .category-name {
    color: #5d8cbf;
    font: 600 20px/24px HelveticaNeueUltraLight;
    letter-spacing: 1.5px;
}

.resources-box ul li .actions {
    position: absolute;
    top: 15px;
    right: 10px;
    top: 7px;
    cursor: move;
}

.resources-box ul li.category .actions {
    position: absolute;
    top: 15px;
    right: 14px;
    top: 7px;
    cursor: pointer;
}

.resources-box ul li .resource-name {
    width: 50%;
    float: left;
    padding: 9px 20px 9px 0;
}

.resources-box ul li .resource-link {
    text-align: left;
    width: 50%;
    float: left;
}

.resources-box ul li .resource-link .btn {
    letter-spacing: 2px;
    line-height: 12px;
    padding: 12px;
    text-align: center;
    width: 130px;
}

.resources-box ul li .resource-title {
    color: #7da4dd;
    letter-spacing: 1px;
}

.resources-box ul li .resource-description {
    font: 14px/19px HelveticaNeue;
}

.resources-box.ceu-resources .resource-link {
    float: none;
    width: auto;
    margin-top: 25px;
}

.resources-box.ceu-resources ul li .resource-link .btn {
    width: 180px;
}

.resources-box.ceu-resources ul li {
    border-top: 1px solid #bcbcbd;
    padding: 25px 0;
}

.ceu-resources.course-content .course-content .section .content .section-modules-box {
    width: 55%
}

.ceu-resources.course-content .section.sectiontype-modules .section-modules-box ul.section li.activity .activity-buttons {
    margin-right: 9%;
}

#resourcessettings .centeralign {
    text-align: center;
}

.resources-box.editing .action-buttons {
    margin-top: -60px;
    position: absolute;
    right: 15px;
}

.resources-box.editing .action-buttons .btn {
    margin-left: 3px;
}

.instructions-table-box {
    border-top: 1px solid #bbb;
    padding-top: 60px;
}

.instructions-table-box .action-buttons {
    margin-top: -50px;
    position: absolute;
    right: 20px;
}

.instructions-table-box .action-buttons .btn {
    margin-left: 3px;
}

.notes-table-box {
    border-top: 1px solid #bbb;
    padding-top: 60px;
}

.notes-table-box .action-buttons {
    margin-top: -50px;
    position: absolute;
    right: 20px;
}

.notes-table-box .action-buttons .btn {
    margin-left: 3px;
}

.notes-table-box table .cell.c0 {
    width: 40%;
}


/* resources page styles */

.ceu-resources .main-page .section-progress-box {
    display: none;
}

.course-content.ceu-resources .course-level-3 .section-level-0 .summary {
    display: block;
}

.ceu-resources .sections-anchors-list {
    display: block;
}

.ceu-resources .section-audio-box {
    display: none;
}

.ceu-resources .course-level-3 .section.topic-view.sectiontype-heading {
    border-top: 1px solid #aaa;
    margin-top: 15px;
    padding-top: 20px;
}

.ceu-resources .segment-sections-box li.segment-sections-item {
    margin: 10px 0;
}

.ceu-resources .activities-box li .activityname-box,
.course-content.ceu-resources .section .content .section-name-box {
    width: 45%;
}

.ceu-resources .course-level-activities .activities-box.segment-section-modules-box li .activityname-box {
    width: auto;
}

.ceu-resources .activities-box li .activity-buttons,
.course-content.ceu-resources .section .content .section-modules-box {
    margin-right: 5%;
}

.course-content.ceu-resources .sectionname-level-2 {
    font: bold 14px/21px HelveticaNeue;
    letter-spacing: 0.5px;
    padding-bottom: 0;
    margin-top: -15px;
}

.course-content.ceu-resources .section.sectiontype-modules .content .section-modules-box {
    width: 55%;
    margin-right: 0;
}

.contactus-title {
    margin-bottom: 10px;
}

.ceu-contactus {
    font: 14px/19px HelveticaNeue;
}

.ceu-contactus h2 {
    color: #5d8cbf;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.ceu-contactus hr {
    border-top: 1px solid #bbb;
    margin-bottom: 30px;
    margin-top: 30px;
}

.ceu-contactus a {
    color: #5d8cbf;
}

.ceu-contactus a:hover {
    color: #003370;
}

.reset-section-moving {
    position: fixed;
    bottom: 10px;
    z-index: 5;
    right: 20px;
}

@media (max-width: 800px) {
    .course-content-header .section-summary {
        width: 100%;
    }
}
