/* bookmarks */
.bookmarks-box {background-color: #fff; border: 1px solid #003370; max-height: 100%; overflow: auto; padding: 10px 0 0;  position: absolute; right: -1px; min-width: 300px; display: none; margin-top: -1px;}
.bookmarks-menu.open .bookmarks-box {display: block;}
.bookmarks-form-title { color: #003370; font: 600 12px HelveticaNeue; letter-spacing: 1.8px; padding: 0 10px; text-transform: uppercase;}
.bookmarks-form form { border-bottom: 1px solid #ccc; padding: 12px 10px 8px; }
.bookmarks-form form label { color: #003370; display: inline-block; font: 11px HelveticaNeue; letter-spacing: 0.8px; text-transform: uppercase;}
.bookmarks-form form input { border: 1px solid #ccc; border-radius: 0; box-shadow: none; color: #003370; font: 14px HelveticaNeue; margin: 0 0 0 10px; }
.bookmarks-form form input.req, .bookmarks-form form input.req:focus { border: 1px solid #cc0000; }
.header-notifications-menu ul li .bookmarks-form form a { display: inline; font: 11px HelveticaNeue; letter-spacing: 0.8px; margin-left: 55px; padding: 0; float: left; margin-top:7px;}
.header-notifications-menu ul li .bookmarks-form form a:hover { color: #333; }
.saved-bookmarks-title {color: #003370; font: 600 12px HelveticaNeue; letter-spacing: 1.8px; padding: 10px; text-transform: uppercase;}
.header-notifications-menu ul li.bookmark-item {background-color: #eeefef; border: 0 none; display: block; float: none; line-height: 16px; padding: 10px;}
.header-notifications-menu ul li.bookmark-item.active a.bookmark-link, .header-notifications-menu ul li.bookmark-item.current a.bookmark-link, section.left-sidebar .main-navigation li .menu-popup li.active a.bookmark-link, section.left-sidebar .main-navigation li .menu-popup li.current a.bookmark-link {font-weight: bold;}
section.left-sidebar .main-navigation li .menu-popup li a.bookmark-link:hover {text-decoration:none;}
.header-notifications-menu ul li.bookmark-item:nth-child(2) {background-color: #f7f8f8;}
.header-notifications-menu ul li a.bookmark-link, section.left-sidebar .main-navigation li .menu-popup li a.bookmark-link {font: 14px/17px HelveticaNeue; letter-spacing: 0.8px; padding: 0; display: initial; text-transform: none;}
.header-notifications-menu ul li a.bookmark-link:hover, .header-notifications-menu ul li.open a.bookmark-link {background-color: transparent;}
.bookmark-actions {margin-top: 4px; position: relative;}
section.left-sidebar .main-navigation li .menu-popup li .bookmark-actions {margin-top: 2px; position: relative;}
.header-notifications-menu ul li .bookmark-actions a, section.left-sidebar .main-navigation li .menu-popup li .bookmark-actions a {display: inline-block; font: 10px/11px HelveticaNeue; letter-spacing: 0.8px; padding: 0 20px 0 0; text-transform: uppercase;}
section.left-sidebar .main-navigation li .menu-popup li .bookmark-actions a:hover {text-decoration: none;}
.header-notifications-menu ul li .bookmark-actions a:hover, .header-notifications-menu ul li.open .bookmark-actions a {background-color: transparent; text-decoration: none;}
.bookmark-actions i {color: #003370; display: inline-block; font-size: 5px; left: 68px; position: absolute; top: 7px;}
section.left-sidebar .main-navigation li .menu-popup .bookmark-actions i {color: #003370; display: inline-block; font-size: 5px; left: 68px; position: absolute; top: 8px;}
section.left-sidebar .main-navigation ul li .menu-popup li.bookmark-item {padding: 7px 0;}


